/* Base Icon Style
================================================== */

[class^="icol-"],  
[class*=" icol-"]
{
	display: inline-block;
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
	
	width: 16px;
	height: 16px;
	*margin-right: .3em;
	line-height: 16px;
	vertical-align: text-top;
	background-repeat: no-repeat;
	background-position: 16px 16px;
}
 
/* Color Icons
================================================== */

[class^="icol-"], 
[class*=" icol-"]
{
	background-image: url(../images/sprite.png);
}

/* Icon Definitions
================================================== */

.icol-accept{background-position:0px 0px;}
.icol-add{background-position:-16px 0px;}
.icol-alarm{background-position:-32px 0px;}
.icol-anchor{background-position:-48px 0px;}
.icol-application{background-position:-64px 0px;}
.icol-application2{background-position:-80px 0px;}
.icol-application-add{background-position:-96px 0px;}
.icol-application-cascade{background-position:-112px 0px;}
.icol-application-delete{background-position:-128px 0px;}
.icol-application-double{background-position:-144px 0px;}
.icol-application-edit{background-position:-160px 0px;}
.icol-application-error{background-position:-176px 0px;}
.icol-application-form{background-position:-192px 0px;}
.icol-application-get{background-position:-208px 0px;}
.icol-application-go{background-position:-224px 0px;}
.icol-application-home{background-position:-240px 0px;}
.icol-application-key{background-position:-256px 0px;}
.icol-application-lightning{background-position:-272px 0px;}
.icol-application-link{background-position:-288px 0px;}
.icol-application-osx{background-position:-304px 0px;}
.icol-application-osx-terminal{background-position:-320px 0px;}
.icol-application-put{background-position:-336px 0px;}
.icol-application-side-boxes{background-position:-352px 0px;}
.icol-application-side-contract{background-position:-368px 0px;}
.icol-application-side-expand{background-position:-384px 0px;}
.icol-application-side-list{background-position:-400px 0px;}
.icol-application-side-tree{background-position:-416px 0px;}
.icol-application-split{background-position:-432px 0px;}
.icol-application-tile-horizontal{background-position:-448px 0px;}
.icol-application-tile-vertical{background-position:-464px 0px;}
.icol-application-view-columns{background-position:-480px 0px;}
.icol-application-view-detail{background-position:-496px 0px;}
.icol-application-view-gallery{background-position:0px -16px;}
.icol-application-view-icons{background-position:-16px -16px;}
.icol-application-view-list{background-position:-32px -16px;}
.icol-application-view-tile{background-position:-48px -16px;}
.icol-application-view-xp{background-position:-64px -16px;}
.icol-application-view-xp-terminal{background-position:-80px -16px;}
.icol-arrow-branch{background-position:-96px -16px;}
.icol-arrow-divide{background-position:-112px -16px;}
.icol-arrow-in{background-position:-128px -16px;}
.icol-arrow-inout{background-position:-144px -16px;}
.icol-arrow-join{background-position:-160px -16px;}
.icol-arrow-left{background-position:-176px -16px;}
.icol-arrow-merge{background-position:-192px -16px;}
.icol-arrow-out{background-position:-208px -16px;}
.icol-arrow-redo{background-position:-224px -16px;}
.icol-arrow-refresh{background-position:-240px -16px;}
.icol-arrow-right{background-position:-256px -16px;}
.icol-arrow-undo{background-position:-272px -16px;}
.icol-asterisk-orange{background-position:-288px -16px;}
.icol-attach{background-position:-304px -16px;}
.icol-attach-2{background-position:-320px -16px;}
.icol-award-star-gold{background-position:-336px -16px;}
.icol-bandaid{background-position:-352px -16px;}
.icol-basket{background-position:-368px -16px;}
.icol-bell{background-position:-384px -16px;}
.icol-bin-closed{background-position:-400px -16px;}
.icol-blog{background-position:-416px -16px;}
.icol-blueprint{background-position:-432px -16px;}
.icol-blueprint-horizontal{background-position:-448px -16px;}
.icol-bluetooth{background-position:-464px -16px;}
.icol-bomb{background-position:-480px -16px;}
.icol-book{background-position:-496px -16px;}
.icol-bookmark{background-position:0px -32px;}
.icol-bookmark-book{background-position:-16px -32px;}
.icol-bookmark-book-open{background-position:-32px -32px;}
.icol-bookmark-document{background-position:-48px -32px;}
.icol-bookmark-folder{background-position:-64px -32px;}
.icol-books{background-position:-80px -32px;}
.icol-book-addresses{background-position:-96px -32px;}
.icol-book-next{background-position:-112px -32px;}
.icol-book-open{background-position:-128px -32px;}
.icol-book-previous{background-position:-144px -32px;}
.icol-box{background-position:-160px -32px;}
.icol-brick{background-position:-176px -32px;}
.icol-bricks{background-position:-192px -32px;}
.icol-briefcase{background-position:-208px -32px;}
.icol-bug{background-position:-224px -32px;}
.icol-buildings{background-position:-240px -32px;}
.icol-bullet-add-1{background-position:-256px -32px;}
.icol-bullet-add-2{background-position:-272px -32px;}
.icol-bullet-key{background-position:-288px -32px;}
.icol-cake{background-position:-304px -32px;}
.icol-calculator{background-position:-320px -32px;}
.icol-calendar-1{background-position:-336px -32px;}
.icol-calendar-2{background-position:-352px -32px;}
.icol-camera{background-position:-368px -32px;}
.icol-cancel{background-position:-384px -32px;}
.icol-car{background-position:-400px -32px;}
.icol-cart{background-position:-416px -32px;}
.icol-cd{background-position:-432px -32px;}
.icol-chart-bar{background-position:-448px -32px;}
.icol-chart-curve{background-position:-464px -32px;}
.icol-chart-line{background-position:-480px -32px;}
.icol-chart-organisation{background-position:-496px -32px;}
.icol-chart-pie{background-position:0px -48px;}
.icol-clipboard-paste-image{background-position:-16px -48px;}
.icol-clipboard-sign{background-position:-32px -48px;}
.icol-clipboard-text{background-position:-48px -48px;}
.icol-clock{background-position:-64px -48px;}
.icol-cog{background-position:-80px -48px;}
.icol-coins{background-position:-96px -48px;}
.icol-color-swatch-1{background-position:-112px -48px;}
.icol-color-swatch-2{background-position:-128px -48px;}
.icol-comment{background-position:-144px -48px;}
.icol-compass{background-position:-160px -48px;}
.icol-compress{background-position:-176px -48px;}
.icol-computer{background-position:-192px -48px;}
.icol-connect{background-position:-208px -48px;}
.icol-contrast{background-position:-224px -48px;}
.icol-control-eject{background-position:-240px -48px;}
.icol-control-end{background-position:-256px -48px;}
.icol-control-equalizer{background-position:-272px -48px;}
.icol-control-fastforward{background-position:-288px -48px;}
.icol-control-pause{background-position:-304px -48px;}
.icol-control-play{background-position:-320px -48px;}
.icol-control-repeat{background-position:-336px -48px;}
.icol-control-rewind{background-position:-352px -48px;}
.icol-control-start{background-position:-368px -48px;}
.icol-control-stop{background-position:-384px -48px;}
.icol-control-wheel{background-position:-400px -48px;}
.icol-counter{background-position:-416px -48px;}
.icol-counter-count{background-position:-432px -48px;}
.icol-counter-count-up{background-position:-448px -48px;}
.icol-counter-reset{background-position:-464px -48px;}
.icol-counter-stop{background-position:-480px -48px;}
.icol-cross{background-position:-496px -48px;}
.icol-cross-octagon{background-position:0px -64px;}
.icol-cross-octagon-fram{background-position:-16px -64px;}
.icol-cross-shield{background-position:-32px -64px;}
.icol-cross-shield-2{background-position:-48px -64px;}
.icol-crown{background-position:-64px -64px;}
.icol-crown-bronze{background-position:-80px -64px;}
.icol-crown-silver{background-position:-96px -64px;}
.icol-css{background-position:-112px -64px;}
.icol-cursor{background-position:-128px -64px;}
.icol-cut{background-position:-144px -64px;}
.icol-dashboard{background-position:-160px -64px;}
.icol-data{background-position:-176px -64px;}
.icol-database{background-position:-192px -64px;}
.icol-databases{background-position:-208px -64px;}
.icol-delete{background-position:-224px -64px;}
.icol-delivery{background-position:-240px -64px;}
.icol-desktop{background-position:-256px -64px;}
.icol-desktop-empty{background-position:-272px -64px;}
.icol-direction{background-position:-288px -64px;}
.icol-disconnect{background-position:-304px -64px;}
.icol-disk{background-position:-320px -64px;}
.icol-doc-access{background-position:-336px -64px;}
.icol-doc-break{background-position:-352px -64px;}
.icol-doc-convert{background-position:-368px -64px;}
.icol-doc-excel-csv{background-position:-384px -64px;}
.icol-doc-excel-table{background-position:-400px -64px;}
.icol-doc-film{background-position:-416px -64px;}
.icol-doc-illustrator{background-position:-432px -64px;}
.icol-doc-music{background-position:-448px -64px;}
.icol-doc-music-playlist{background-position:-464px -64px;}
.icol-doc-offlice{background-position:-480px -64px;}
.icol-doc-page{background-position:-496px -64px;}
.icol-doc-page-previous{background-position:0px -80px;}
.icol-doc-pdf{background-position:-16px -80px;}
.icol-doc-photoshop{background-position:-32px -80px;}
.icol-doc-resize{background-position:-48px -80px;}
.icol-doc-resize-actual{background-position:-64px -80px;}
.icol-doc-shred{background-position:-80px -80px;}
.icol-doc-stand{background-position:-96px -80px;}
.icol-doc-table{background-position:-112px -80px;}
.icol-doc-tag{background-position:-128px -80px;}
.icol-doc-text-image{background-position:-144px -80px;}
.icol-door{background-position:-160px -80px;}
.icol-door-in{background-position:-176px -80px;}
.icol-drawer{background-position:-192px -80px;}
.icol-drink{background-position:-208px -80px;}
.icol-drink-empty{background-position:-224px -80px;}
.icol-drive{background-position:-240px -80px;}
.icol-drive-burn{background-position:-256px -80px;}
.icol-drive-cd{background-position:-272px -80px;}
.icol-drive-cd-empty{background-position:-288px -80px;}
.icol-drive-delete{background-position:-304px -80px;}
.icol-drive-disk{background-position:-320px -80px;}
.icol-drive-error{background-position:-336px -80px;}
.icol-drive-go{background-position:-352px -80px;}
.icol-drive-link{background-position:-368px -80px;}
.icol-drive-network{background-position:-384px -80px;}
.icol-drive-rename{background-position:-400px -80px;}
.icol-dvd{background-position:-416px -80px;}
.icol-email{background-position:-432px -80px;}
.icol-email-open{background-position:-448px -80px;}
.icol-email-open-image{background-position:-464px -80px;}
.icol-emoticon-evilgrin{background-position:-480px -80px;}
.icol-emoticon-grin{background-position:-496px -80px;}
.icol-emoticon-happy{background-position:0px -96px;}
.icol-emoticon-smile{background-position:-16px -96px;}
.icol-emoticon-surprised{background-position:-32px -96px;}
.icol-emoticon-tongue{background-position:-48px -96px;}
.icol-emoticon-unhappy{background-position:-64px -96px;}
.icol-emoticon-waii{background-position:-80px -96px;}
.icol-emoticon-wink{background-position:-96px -96px;}
.icol-envelope{background-position:-112px -96px;}
.icol-envelope-2{background-position:-128px -96px;}
.icol-error{background-position:-144px -96px;}
.icol-exclamation{background-position:-160px -96px;}
.icol-exclamation-octagon-fram{background-position:-176px -96px;}
.icol-eye{background-position:-192px -96px;}
.icol-feed{background-position:-208px -96px;}
.icol-feed-ballon{background-position:-224px -96px;}
.icol-feed-document{background-position:-240px -96px;}
.icol-female{background-position:-256px -96px;}
.icol-film{background-position:-272px -96px;}
.icol-films{background-position:-288px -96px;}
.icol-find{background-position:-304px -96px;}
.icol-flag-blue{background-position:-320px -96px;}
.icol-folder{background-position:-336px -96px;}
.icol-font{background-position:-352px -96px;}
.icol-funnel{background-position:-368px -96px;}
.icol-grid{background-position:-384px -96px;}
.icol-grid-dot{background-position:-400px -96px;}
.icol-group{background-position:-416px -96px;}
.icol-hammer{background-position:-432px -96px;}
.icol-hammer-screwdriver{background-position:-448px -96px;}
.icol-hand{background-position:-464px -96px;}
.icol-hand-point{background-position:-480px -96px;}
.icol-heart{background-position:-496px -96px;}
.icol-heart-break{background-position:0px -112px;}
.icol-heart-empty{background-position:-16px -112px;}
.icol-heart-half{background-position:-32px -112px;}
.icol-heart-small{background-position:-48px -112px;}
.icol-help{background-position:-64px -112px;}
.icol-highlighter{background-position:-80px -112px;}
.icol-house{background-position:-96px -112px;}
.icol-html{background-position:-112px -112px;}
.icol-images{background-position:-128px -112px;}
.icol-image-1{background-position:-144px -112px;}
.icol-image-2{background-position:-160px -112px;}
.icol-inbox{background-position:-176px -112px;}
.icol-ipod{background-position:-192px -112px;}
.icol-ipod-cast{background-position:-208px -112px;}
.icol-joystick{background-position:-224px -112px;}
.icol-key{background-position:-240px -112px;}
.icol-keyboard{background-position:-256px -112px;}
.icol-layers{background-position:-272px -112px;}
.icol-layer-treansparent{background-position:-288px -112px;}
.icol-layout{background-position:-304px -112px;}
.icol-layout-header-footer-3{background-position:-320px -112px;}
.icol-layout-header-footer-3-mix{background-position:-336px -112px;}
.icol-layout-join{background-position:-352px -112px;}
.icol-layout-join-vertical{background-position:-368px -112px;}
.icol-layout-select{background-position:-384px -112px;}
.icol-layout-select-content{background-position:-400px -112px;}
.icol-layout-select-footer{background-position:-416px -112px;}
.icol-layout-select-sidebar{background-position:-432px -112px;}
.icol-layout-split{background-position:-448px -112px;}
.icol-layout-split-vertical{background-position:-464px -112px;}
.icol-lifebuoy{background-position:-480px -112px;}
.icol-lightbulb{background-position:-496px -112px;}
.icol-lightbulb-off{background-position:0px -128px;}
.icol-lightning{background-position:-16px -128px;}
.icol-link{background-position:-32px -128px;}
.icol-link-break{background-position:-48px -128px;}
.icol-lock{background-position:-64px -128px;}
.icol-lock-unlock{background-position:-80px -128px;}
.icol-magnet{background-position:-96px -128px;}
.icol-magnifier{background-position:-112px -128px;}
.icol-magnifier-zoom-in{background-position:-128px -128px;}
.icol-male{background-position:-144px -128px;}
.icol-map{background-position:-160px -128px;}
.icol-marker{background-position:-176px -128px;}
.icol-medal-bronze-1{background-position:-192px -128px;}
.icol-medal-gold-1{background-position:-208px -128px;}
.icol-media-player-small-blue{background-position:-224px -128px;}
.icol-microphone{background-position:-240px -128px;}
.icol-mobile-phone{background-position:-256px -128px;}
.icol-money{background-position:-272px -128px;}
.icol-money-dollar{background-position:-288px -128px;}
.icol-money-euro{background-position:-304px -128px;}
.icol-money-pound{background-position:-320px -128px;}
.icol-money-yen{background-position:-336px -128px;}
.icol-monitor{background-position:-352px -128px;}
.icol-mouse{background-position:-368px -128px;}
.icol-music{background-position:-384px -128px;}
.icol-music-beam{background-position:-400px -128px;}
.icol-neutral{background-position:-416px -128px;}
.icol-new{background-position:-432px -128px;}
.icol-newspaper{background-position:-448px -128px;}
.icol-note{background-position:-464px -128px;}
.icol-nuclear{background-position:-480px -128px;}
.icol-package{background-position:-496px -128px;}
.icol-page{background-position:0px -144px;}
.icol-page-2{background-position:-16px -144px;}
.icol-page-2-copy{background-position:-32px -144px;}
.icol-page-code{background-position:-48px -144px;}
.icol-page-copy{background-position:-64px -144px;}
.icol-page-excel{background-position:-80px -144px;}
.icol-page-lightning{background-position:-96px -144px;}
.icol-page-paste{background-position:-112px -144px;}
.icol-page-red{background-position:-128px -144px;}
.icol-page-refresh{background-position:-144px -144px;}
.icol-page-save{background-position:-160px -144px;}
.icol-page-white-cplusplus{background-position:-176px -144px;}
.icol-page-white-csharp{background-position:-192px -144px;}
.icol-page-white-cup{background-position:-208px -144px;}
.icol-page-white-database{background-position:-224px -144px;}
.icol-page-white-delete{background-position:-240px -144px;}
.icol-page-white-dvd{background-position:-256px -144px;}
.icol-page-white-edit{background-position:-272px -144px;}
.icol-page-white-error{background-position:-288px -144px;}
.icol-page-white-excel{background-position:-304px -144px;}
.icol-page-white-find{background-position:-320px -144px;}
.icol-page-white-flash{background-position:-336px -144px;}
.icol-page-white-freehand{background-position:-352px -144px;}
.icol-page-white-gear{background-position:-368px -144px;}
.icol-page-white-get{background-position:-384px -144px;}
.icol-page-white-paintbrush{background-position:-400px -144px;}
.icol-page-white-paste{background-position:-416px -144px;}
.icol-page-white-php{background-position:-432px -144px;}
.icol-page-white-picture{background-position:-448px -144px;}
.icol-page-white-powerpoint{background-position:-464px -144px;}
.icol-page-white-put{background-position:-480px -144px;}
.icol-page-white-ruby{background-position:-496px -144px;}
.icol-page-white-stack{background-position:0px -160px;}
.icol-page-white-star{background-position:-16px -160px;}
.icol-page-white-swoosh{background-position:-32px -160px;}
.icol-page-white-text{background-position:-48px -160px;}
.icol-page-white-text-width{background-position:-64px -160px;}
.icol-page-white-tux{background-position:-80px -160px;}
.icol-page-white-vector{background-position:-96px -160px;}
.icol-page-white-visualstudio{background-position:-112px -160px;}
.icol-page-white-width{background-position:-128px -160px;}
.icol-page-white-word{background-position:-144px -160px;}
.icol-page-white-world{background-position:-160px -160px;}
.icol-page-white-wrench{background-position:-176px -160px;}
.icol-page-white-zip{background-position:-192px -160px;}
.icol-paintbrush{background-position:-208px -160px;}
.icol-paintcan{background-position:-224px -160px;}
.icol-palette{background-position:-240px -160px;}
.icol-paper-bag{background-position:-256px -160px;}
.icol-paste-plain{background-position:-272px -160px;}
.icol-paste-word{background-position:-288px -160px;}
.icol-pencil{background-position:-304px -160px;}
.icol-photo{background-position:-320px -160px;}
.icol-photos{background-position:-336px -160px;}
.icol-photo-album{background-position:-352px -160px;}
.icol-piano{background-position:-368px -160px;}
.icol-picture{background-position:-384px -160px;}
.icol-pilcrow{background-position:-400px -160px;}
.icol-pill{background-position:-416px -160px;}
.icol-pin{background-position:-432px -160px;}
.icol-pipette{background-position:-448px -160px;}
.icol-plaing-card{background-position:-464px -160px;}
.icol-plug{background-position:-480px -160px;}
.icol-plugin{background-position:-496px -160px;}
.icol-printer{background-position:0px -176px;}
.icol-projection-screen{background-position:-16px -176px;}
.icol-projection-screen-present{background-position:-32px -176px;}
.icol-rainbow{background-position:-48px -176px;}
.icol-report{background-position:-64px -176px;}
.icol-rocket{background-position:-80px -176px;}
.icol-rosette{background-position:-96px -176px;}
.icol-rss{background-position:-112px -176px;}
.icol-ruby{background-position:-128px -176px;}
.icol-ruler-1{background-position:-144px -176px;}
.icol-ruler-2{background-position:-160px -176px;}
.icol-ruler-crop{background-position:-176px -176px;}
.icol-ruler-triangle{background-position:-192px -176px;}
.icol-safe{background-position:-208px -176px;}
.icol-script{background-position:-224px -176px;}
.icol-selection{background-position:-240px -176px;}
.icol-selection-select{background-position:-256px -176px;}
.icol-server{background-position:-272px -176px;}
.icol-shading{background-position:-288px -176px;}
.icol-shape-aling-bottom{background-position:-304px -176px;}
.icol-shape-aling-center{background-position:-320px -176px;}
.icol-shape-aling-left{background-position:-336px -176px;}
.icol-shape-aling-middle{background-position:-352px -176px;}
.icol-shape-aling-right{background-position:-368px -176px;}
.icol-shape-aling-top{background-position:-384px -176px;}
.icol-shape-flip-horizontal{background-position:-400px -176px;}
.icol-shape-flip-vertical{background-position:-416px -176px;}
.icol-shape-group{background-position:-432px -176px;}
.icol-shape-handles{background-position:-448px -176px;}
.icol-shape-move-back{background-position:-464px -176px;}
.icol-shape-move-backwards{background-position:-480px -176px;}
.icol-shape-move-forwards{background-position:-496px -176px;}
.icol-shape-move-front{background-position:0px -192px;}
.icol-shape-square{background-position:-16px -192px;}
.icol-shield{background-position:-32px -192px;}
.icol-sitemap{background-position:-48px -192px;}
.icol-slide{background-position:-64px -192px;}
.icol-slides{background-position:-80px -192px;}
.icol-slides-stack{background-position:-96px -192px;}
.icol-smiley-confuse{background-position:-112px -192px;}
.icol-smiley-cool{background-position:-128px -192px;}
.icol-smiley-cry{background-position:-144px -192px;}
.icol-smiley-fat{background-position:-160px -192px;}
.icol-smiley-mad{background-position:-176px -192px;}
.icol-smiley-red{background-position:-192px -192px;}
.icol-smiley-roll{background-position:-208px -192px;}
.icol-smiley-slim{background-position:-224px -192px;}
.icol-smiley-yell{background-position:-240px -192px;}
.icol-socket{background-position:-256px -192px;}
.icol-sockets{background-position:-272px -192px;}
.icol-sort{background-position:-288px -192px;}
.icol-sort-alphabet{background-position:-304px -192px;}
.icol-sort-date{background-position:-320px -192px;}
.icol-sort-disable{background-position:-336px -192px;}
.icol-sort-number{background-position:-352px -192px;}
.icol-sort-price{background-position:-368px -192px;}
.icol-sort-quantity{background-position:-384px -192px;}
.icol-sort-rating{background-position:-400px -192px;}
.icol-sound{background-position:-416px -192px;}
.icol-sound-note{background-position:-432px -192px;}
.icol-spellcheck{background-position:-448px -192px;}
.icol-sport-8ball{background-position:-464px -192px;}
.icol-sport-basketball{background-position:-480px -192px;}
.icol-sport-football{background-position:-496px -192px;}
.icol-sport-golf{background-position:0px -208px;}
.icol-sport-raquet{background-position:-16px -208px;}
.icol-sport-shuttlecock{background-position:-32px -208px;}
.icol-sport-soccer{background-position:-48px -208px;}
.icol-sport-tennis{background-position:-64px -208px;}
.icol-stamp{background-position:-80px -208px;}
.icol-star-1{background-position:-96px -208px;}
.icol-star-2{background-position:-112px -208px;}
.icol-status-online{background-position:-128px -208px;}
.icol-stop{background-position:-144px -208px;}
.icol-style{background-position:-160px -208px;}
.icol-sum{background-position:-176px -208px;}
.icol-sum-2{background-position:-192px -208px;}
.icol-switch{background-position:-208px -208px;}
.icol-tab{background-position:-224px -208px;}
.icol-table{background-position:-240px -208px;}
.icol-tag{background-position:-256px -208px;}
.icol-tag-blue{background-position:-272px -208px;}
.icol-target{background-position:-288px -208px;}
.icol-telephone{background-position:-304px -208px;}
.icol-television{background-position:-320px -208px;}
.icol-textfield{background-position:-336px -208px;}
.icol-textfield-rename{background-position:-352px -208px;}
.icol-text-align-center{background-position:-368px -208px;}
.icol-text-align-justify{background-position:-384px -208px;}
.icol-text-align-left{background-position:-400px -208px;}
.icol-text-align-right{background-position:-416px -208px;}
.icol-text-allcaps{background-position:-432px -208px;}
.icol-text-bold{background-position:-448px -208px;}
.icol-text-columns{background-position:-464px -208px;}
.icol-text-dropcaps{background-position:-480px -208px;}
.icol-text-heading-1{background-position:-496px -208px;}
.icol-text-horizontalrule{background-position:0px -224px;}
.icol-text-indent{background-position:-16px -224px;}
.icol-text-indent-remove{background-position:-32px -224px;}
.icol-text-italic{background-position:-48px -224px;}
.icol-text-kerning{background-position:-64px -224px;}
.icol-text-letterspacing{background-position:-80px -224px;}
.icol-text-letter-omega{background-position:-96px -224px;}
.icol-text-linespacing{background-position:-112px -224px;}
.icol-text-list-bullets{background-position:-128px -224px;}
.icol-text-list-numbers{background-position:-144px -224px;}
.icol-text-lowercase{background-position:-160px -224px;}
.icol-text-padding-bottom{background-position:-176px -224px;}
.icol-text-padding-left{background-position:-192px -224px;}
.icol-text-padding-right{background-position:-208px -224px;}
.icol-text-padding-top{background-position:-224px -224px;}
.icol-text-signature{background-position:-240px -224px;}
.icol-text-smallcaps{background-position:-256px -224px;}
.icol-text-strikethrough{background-position:-272px -224px;}
.icol-text-subscript{background-position:-288px -224px;}
.icol-ticket{background-position:-304px -224px;}
.icol-timeline-marker{background-position:-320px -224px;}
.icol-traffic{background-position:-336px -224px;}
.icol-transmit{background-position:-352px -224px;}
.icol-trophy{background-position:-368px -224px;}
.icol-trophy-bronze{background-position:-384px -224px;}
.icol-trophy-silver{background-position:-400px -224px;}
.icol-ui-combo-box{background-position:-416px -224px;}
.icol-ui-saccordion{background-position:-432px -224px;}
.icol-ui-slider-1{background-position:-448px -224px;}
.icol-ui-slider-2{background-position:-464px -224px;}
.icol-ui-tab-bottom{background-position:-480px -224px;}
.icol-ui-tab-content{background-position:-496px -224px;}
.icol-ui-tab-disable{background-position:0px -240px;}
.icol-ui-tab-side{background-position:-16px -240px;}
.icol-ui-text-field-hidden{background-position:-32px -240px;}
.icol-ui-text-field-password{background-position:-48px -240px;}
.icol-umbrella{background-position:-64px -240px;}
.icol-user{background-position:-80px -240px;}
.icol-user-black-female{background-position:-96px -240px;}
.icol-user-business{background-position:-112px -240px;}
.icol-user-business-boss{background-position:-128px -240px;}
.icol-user-female{background-position:-144px -240px;}
.icol-user-silhouette{background-position:-160px -240px;}
.icol-user-thief{background-position:-176px -240px;}
.icol-user-thief-baldie{background-position:-192px -240px;}
.icol-vcard{background-position:-208px -240px;}
.icol-vector{background-position:-224px -240px;}
.icol-wait{background-position:-240px -240px;}
.icol-wall{background-position:-256px -240px;}
.icol-wall-break{background-position:-272px -240px;}
.icol-wall-brick{background-position:-288px -240px;}
.icol-wall-disable{background-position:-304px -240px;}
.icol-wand{background-position:-320px -240px;}
.icol-weather-clouds{background-position:-336px -240px;}
.icol-weather-cloudy{background-position:-352px -240px;}
.icol-weather-lightning{background-position:-368px -240px;}
.icol-weather-rain{background-position:-384px -240px;}
.icol-weather-snow{background-position:-400px -240px;}
.icol-weather-sun{background-position:-416px -240px;}
.icol-webcam{background-position:-432px -240px;}
.icol-world{background-position:-448px -240px;}
.icol-zone{background-position:-464px -240px;}
.icol-zones{background-position:-480px -240px;}
.icol-zone-money{background-position:-496px -240px;}
