/*Header*/
header {
	width:100%;
	font-size: 11px;
	height:36px;
	line-height:36px;
	background:#202020;
}
header .admin-name{
	font-size:23px;
	font-weight:bold;
}
header .welcome {
	float: left;
}
header .welcome img {
	float: left;
	margin: 8px 8px 8px 0
}
header .welcome span {
	display: block;
	white-space: nowrap;
	float: left;
}
header nav {
	float:right;
}
header nav ul li {
	display: inline;
	float: left;
	position: relative;
	cursor: pointer;
	height:36px;
	line-height:36px;
	margin-bottom:0;
}
header nav ul li a {
	padding:0 13px;
}
header nav ul ul li a {
	padding:0px;
}
header nav ul li:hover > ul {
	visibility:visible;
	opacity:1;
	top:35px;
}
header nav ul li ul {
	width:120px;
	visibility:hidden;
	opacity:0;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	top:150px;}
header nav ul li ul {
	position: absolute;
	left: -1px;
	margin-top: 0px;
	padding: 0 1px 1px 1px;
	z-index:100;
	margin:0;
}
header nav ul li ul li {
	display: block;
	float: none;
	border-right: none;
	text-indent:13px;
}
/*Header End*/
/* ==========  Numbers notifications  ========== */
.numberTop, .numberMiddle {
	font-weight: bold;
	text-align: center;
	display: inline-block;
	padding: 1px 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	margin: 10px 0px 10px 10px;
	font-size: 11px;
	line-height: 14px;
}
.numberTop {
	margin: 10px 0px 10px 10px;
	padding: 1px 5px!important;
}
.numberMiddle {
	margin: 0;
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 11px;
	padding: 2px 6px;
}
/**Login Page**/
.login-container {
	width:280px;
	margin: 10% auto;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.login {
	padding:18px;
	border:#ccc 1px solid;
	background:#fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow:inset 0 0px 3px #dfdfdf;
	-moz-box-shadow:inset 0 0px 3px #dfdfdf;
	box-shadow:inset 0 0px 3px #dfdfdf;
}
.login input[type="text"], .login input[type="password"]{
	width: 204px;
	padding-left: 30px;	
}
.user-name {
	background:#fff url(../images/cs_h.png) no-repeat 5px -856px !important;
}
.user-pass {
	background:#fff url(../images/cs_h.png) no-repeat 5px -458px !important;
}
/**Login Page End**/
/*Lef Nav*/
.leftNav { width: 212px; max-width: 36%; margin-top: -1px; float: left; margin-bottom: 80px;}	

.leftNav .last { border-bottom: none; }
.leftNav ul{margin:0; list-style:none;}
.leftNav ul li { position: relative;}
.leftNav ul li a{color: #494949; font-size: 15px; display: block; border: 1px solid #d5d5d5; margin-top: 1px;
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #efefef));
	background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: -o-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: -ms-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: linear-gradient(top, #fafafa 0%, #efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
}
.leftNav ul li a:hover, .leftNav ul li a.active {background: url(../images/darkBg.jpg) repeat-x; color: #fff; border: 1px solid #3c4049; }
.leftNav ul li a span{padding: 10px 0 8px 35px; display: block;}
.leftNav ul li a span{background:url(../images/arrow.png) 5px 9px no-repeat;}
.leftNav ul li a span:hover{background:url(../images/arrow-hover.png) 5px 9px no-repeat;}
/*Lef Nav End*/

/*****Colors*****/
header .admin-name, header .welcome span, header nav ul li a, header nav ul li a:visited {
	color:#eee;
}
header .admin-name span{
	color:#cc2a28;
}
header nav ul li:first-child {
	border-left: 1px solid #2f2f2f;
}
header nav ul li {
	border-right: 1px solid #2f2f2f;
}
header nav ul li:hover, .selected {
	background: #000;
}
header nav ul li ul {
	background: #2f2f2f;
	border: 1px solid #1d1d1d;
}
header nav ul li ul li {
	border-top: 1px solid #2f2f2f;
	background: #212121;
	border-bottom: 1px solid #141414;
}
.numberTop, .numberMiddle {
	color:#fff;
	background: #cc2a28;
	background: -moz-linear-gradient(top, #ea5050 0%, #cc2a28 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea5050), color-stop(100%, #cc2a28));
	background: -webkit-linear-gradient(top, #ea5050 0%, #cc2a28 100%);
	background: -o-linear-gradient(top, #ea5050 0%, #cc2a28 100%);
	background: -ms-linear-gradient(top, #ea5050 0%, #cc2a28 100%);
	background: linear-gradient(top, #ea5050 0%, #cc2a28 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5050', endColorstr='#cc2a28', GradientType=0 );
}
.login-container {
	background:#dfdfdf;
}
.login {
	border:#ccc 1px solid;
	background:#fff;
}


/*Border Radius 5*/
.login-container {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*Border Radius 4*/
.login {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*Box Shadow*/
.login {
	-webkit-box-shadow:inset 0 0px 3px #dfdfdf;
	-moz-box-shadow:inset 0 0px 3px #dfdfdf;
	box-shadow:inset 0 0px 3px #dfdfdf;
}
.mt20{
	margin-top:30px;}

/* Typegraphy page css starts */
.widget {
    border: 1px solid #ddd;
    margin: 0 0 20px;
}
.widget .widget-title {
    height: 40px;
	padding-top:0px;
	margin-bottom:10px;
	background: rgb(246,246,246); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(237, 237, 237, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(237, 237, 237, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(237, 237, 237, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(237, 237, 237, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 0%, rgba(237, 237, 237, 1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
}
.widget .widget-title span {
    display: block;
    float: left;
    font: 18px/2.4 'Cuprum', Georgia, serif;
    padding-left: 10px;
}
.widget .widget-title .collapse-widget {
    background-image: url(../img/chosen-sprite.png);
    background-repeat: no-repeat;
    background-position: 55% 8px;
    float: right;
}
.widget .widget-content {
    padding: 10px 15px;
}
.widget .widget-content-nopadding {
    padding: 0px;
}
/* Typegraphy page css ends */

.box-tab {
	border:#CCC 1px solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:#fff;
	margin-bottom:20px;
}
.box-tab .tab-content {
	padding:10px 18px;
}
.box-tab .tabs-below .nav-tabs {
	border-top:#bbb 1px solid;
	padding-bottom:5px;
	margin-bottom:0px;
	background: #cccccc; /* Old browsers */
	background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #cccccc 0%, #eeeeee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee', GradientType=0 ); /* IE6-9 */
}
.box-tab .nav-tabs {
	padding-top:0px;
	margin-bottom:10px;
	background: rgb(246,246,246); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(237, 237, 237, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(237, 237, 237, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(237, 237, 237, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(246, 246, 246, 1) 0%, rgba(237, 237, 237, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(246, 246, 246, 1) 0%, rgba(237, 237, 237, 1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
}
.box-tab .nav-tabs .active a {
	background:#fff !important;
}
.box-tab .tabs-left .nav-tabs {
	margin-bottom:0px;
	border-right:#bbb 1px solid;
}
.box-tab .tabs-right .nav-tabs {
	margin-bottom:0px;
	border-left:#bbb 1px solid;
}
.box-tab .tabs-left .tab-content {
	padding-left:0px !important;
}
.box-tab .tabs-right .tab-content {
	padding-right:0px !important;
}

/*===TAB===*/
.nav-tabs > li {
    margin: 5px 0 -1px 5px;
}
.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
	border-bottom: 0;
}
.tabs-below .nav{ margin-bottom:5px;}
.tab-content > .tab-pane, .pill-content > .pill-pane {
	display: none;
}
.tab-content > .active, .pill-content > .active {
	display: block;
}
.tabs-below > .nav-tabs {
	border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
	margin-top: -1px;
	margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover {
	border-top-color: #ddd;
	border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover {
	border-color: transparent #ddd #ddd #ddd;
}
.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
	float: none;
}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
	min-width: 74px;
	margin-right: 0;
	margin-bottom: 5px;
}
.tabs-left > .nav-tabs {
	float: left;
	margin-right: 19px;
	margin-bottom:0px;
	border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
	margin-right: -1px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover {
	border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
	border-color: #ddd transparent #ddd #ddd;
 *border-right-color: #ffffff;
}
.tabs-right > .nav-tabs {
	float: right;
	margin-left: 19px;
	margin-bottom:0px;
	border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li { margin:5px 5px 5px 0}
.tabs-right > .nav-tabs > li > a {
	margin-left: -1px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover {
	border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tabs-right > .nav-tabs .active > a, .tabs-right > .nav-tabs .active > a:hover {
	border-color: #ddd #ddd #ddd transparent;
 *border-left-color: #ffffff;
}

.widget-box .well {
    margin: 0;
}
.white-box {
    background-color: #FFFFFF !important;
    border: medium none !important;
    border-radius: 0 0 3px 3px !important;
    box-shadow: none !important;
}


.btn {
	padding: 4px 10px 4px;

	font-size: 13px;
}
.btn i {
    margin-left: -5px;
    margin-right: 2px;
}
.navbar .btn-navbar { margin-bottom:5px;}


/*===JQUERY UNIFORM ==*/
/* @end */
/*

Uniform Theme: Uniform Default
Version: 1.6
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
---
Generated by Uniform Theme Generator:
http://pixelmatrixdesign.com/uniform/themer.html

*/

/* Global Declaration */

div.selector, div.selector span, div.checker span, div.radio-btn span, div.uni-uploader, div.uni-uploader span.action, div.button, div.button span {
	background-image: url(../images/uniform-sprite.png);
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
}
.selector, .radio-btn, .checker, .uni-uploader, .button, .selector *, .radio-btn *, .checker *, .uni-uploader *, .button * {
	margin: 0;
	padding: 0;
}
/* Select */

div.selector {
	background-position: -483px -130px;
	line-height: 26px;
	height: 26px;
}
div.selector span {
	background-position: right 0px;
	height: 26px;
	line-height: 26px;
}
div.selector select {
	/* change these to adjust positioning of select element */
  top: 0px;
	left: 0px;
}
div.selector:active, div.selector.active {
	background-position: -483px -156px;
}
div.selector:active span, div.selector.active span {
	background-position: right -26px;
}
div.selector.focus, div.selector.hover, div.selector:hover {
	background-position: -483px -182px;
}
div.selector.focus span, div.selector.hover span, div.selector:hover span {
	background-position: right -52px;
}
div.selector.focus:active, div.selector.focus.active, div.selector:hover:active, div.selector.active:hover {
	background-position: -483px -208px;
}
div.selector.focus:active span, div.selector:hover:active span, div.selector.active:hover span, div.selector.focus.active span {
	background-position: right -78px;
}
div.selector.disabled {
	background-position: -483px -234px;
}
div.selector.disabled span {
	background-position: right -104px;
}
/* Checkbox */

div.checker {
	width: 19px;
	height: 19px;
}
div.checker input {
	width: 19px;
	height: 19px;
}
div.checker span {
	background-position: 0px -260px;
	height: 19px;
	width: 19px;
}
div.checker:active span, div.checker.active span {
	background-position: -19px -260px;
}
div.checker.focus span, div.checker:hover span {
	background-position: -38px -260px;
}
div.checker.focus:active span, div.checker:active:hover span, div.checker.active:hover span, div.checker.focus.active span {
	background-position: -57px -260px;
}
div.checker span.checked {
	background-position: -76px -260px;
}
div.checker:active span.checked, div.checker.active span.checked {
	background-position: -95px -260px;
}
div.checker.focus span.checked, div.checker:hover span.checked {
	background-position: -114px -260px;
}
div.checker.focus:active span.checked, div.checker:hover:active span.checked, div.checker.active:hover span.checked, div.checker.active.focus span.checked {
	background-position: -133px -260px;
}
div.checker.disabled span, div.checker.disabled:active span, div.checker.disabled.active span {
	background-position: -152px -260px;
}
div.checker.disabled span.checked, div.checker.disabled:active span.checked, div.checker.disabled.active span.checked {
	background-position: -171px -260px;
}
/* Radio */

div.radio-btn {
	width: 18px;
	height: 18px;
}
div.radio-btn input {
	width: 18px;
	height: 18px;
}
div.radio-btn span {
	height: 18px;
	width: 18px;
	background-position: 0px -279px;
}
div.radio-btn:active span, div.radio-btn.active span {
	background-position: -18px -279px;
}
div.radio-btn.focus span, div.radio-btn:hover span {
	background-position: -36px -279px;
}
div.radio-btn.focus:active span, div.radio-btn:active:hover span, div.radio-btn.active:hover span, div.radio-btn.active.focus span {
	background-position: -54px -279px;
}
div.radio-btn span.checked {
	background-position: -72px -279px;
}
div.radio-btn:active span.checked, div.radio-btn.active span.checked {
	background-position: -90px -279px;
}
div.radio-btn.focus span.checked, div.radio-btn:hover span.checked {
	background-position: -108px -279px;
}
div.radio-btn.focus:active span.checked, div.radio-btn:hover:active span.checked, div.radio-btn.focus.active span.checked, div.radio-btn.active:hover span.checked {
	background-position: -126px -279px;
}
div.radio-btn.disabled span, div.radio-btn.disabled:active span, div.radio-btn.disabled.active span {
	background-position: -144px -279px;
}
div.radio-btn.disabled span.checked, div.radio-btn.disabled:active span.checked, div.radio-btn.disabled.active span.checked {
	background-position: -162px -279px;
}
/* Uploader */

div.uni-uploader {
	background-position: 0px -297px;
	height: 28px;
}
div.uni-uploader span.action {
	background-position: right -409px;
	height: 24px;
	line-height: 24px;
}
div.uni-uploader span.filename {
	height: 24px;
	/* change this line to adjust positioning of filename area */
  margin: 2px 0px 2px 2px;
	line-height: 24px;
}
div.uni-uploader.focus, div.uni-uploader.hover, div.uni-uploader:hover {
	background-position: 0px -353px;
}
div.uni-uploader.focus span.action, div.uni-uploader.hover span.action, div.uni-uploader:hover span.action {
	background-position: right -437px;
}
div.uni-uploader.active span.action, div.uni-uploader:active span.action {
	background-position: right -465px;
}
div.uni-uploader.focus.active span.action, div.uni-uploader:focus.active span.action, div.uni-uploader.focus:active span.action, div.uni-uploader:focus:active span.action {
	background-position: right -493px;
}
div.uni-uploader.disabled {
	background-position: 0px -325px;
}
div.uni-uploader.disabled span.action {
	background-position: right -381px;
}
div.button {
	background-position: 0px -523px;
}
div.button span {
	background-position: right -643px;
}
div.button.focus, div.button:focus, div.button:hover, div.button.hover {
	background-position: 0px -553px;
}
div.button.focus span, div.button:focus span, div.button:hover span, div.button.hover span {
	background-position: right -673px;
}
div.button.active, div.button:active {
	background-position: 0px -583px;
}
div.button.active span, div.button:active span {
	background-position: right -703px;
	color: #555;
}
div.button.disabled, div.button:disabled {
	background-position: 0px -613px;
}
div.button.disabled span, div.button:disabled span {
	background-position: right -733px;
	color: #bbb;
	cursor: default;
}
/* PRESENTATION */

/* Button */

div.button {
	height: 30px;
}
div.button span {
	margin-left: 13px;
	height: 22px;
	padding-top: 8px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-left: 2px;
	padding-right: 15px;
}
/* Select */
div.selector {
	width: 190px;
	font-size: 12px;
}
div.selector select {
	min-width: 190px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	border: solid 1px #fff;
}
div.selector span {
	padding: 0px 25px 0px 2px;
	cursor: pointer;
}
div.selector span {
	color: #666;
	width: 158px;
	text-shadow: 0 1px 0 #fff;
}
div.selector.disabled span {
	color: #bbb;
}
/* Checker */
div.checker {
	margin-right: 5px;
	margin-left:-20px;
	margin-top:-2px;
}
/* Radio */
div.radio-btn {
	margin-right: 0px;
	margin-left:-20px;
	margin-top:-2px;
}
/* Uploader */
div.uni-uploader {
	width: 190px;
	cursor: pointer;
}
div.uni-uploader span.action {
	width: 85px;
	text-align: center;
	text-shadow: #fff 0px 1px 0px;
	background-color: #fff;
	font-size: 11px;
	font-weight: bold;
}
div.uni-uploader span.filename {
	color: #777;
	width: 82px;
	border-right: solid 1px #bbb;
	font-size: 11px;
}
div.uni-uploader input {
	width: 190px;
}
div.uni-uploader.disabled span.action {
	color: #aaa;
}
div.uni-uploader.disabled span.filename {
	border-color: #ddd;
	color: #aaa;
}
/*
CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector, .checker, .button, .radio-btn, .uni-uploader {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
 *display: inline;
}
.selector select:focus, .radio-btn input:focus, .checker input:focus, .uni-uploader input:focus {
	outline: 0;
}
/* Button */

div.button a, div.button button, div.button input {
	position: absolute;
}
div.button {
	cursor: pointer;
	position: relative;
}
div.button span {
	display: -moz-inline-box;
	display: inline-block;
	line-height: 1;
	text-align: center;
}
/* Select */

div.selector {
	position: relative;
	padding-left: 10px;
	overflow: hidden;
}
div.selector span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div.selector select {
	position: absolute;
	opacity: 0;
 filter: alpha(opacity:0);
	height: 25px;
	border: none;
	background: none;
}
/* Checker */

div.checker {
	position: relative;
}
div.checker span {
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}
div.checker input {
	opacity: 0;
 filter: alpha(opacity:0);
	display: inline-block;
	background: none;
}
/* Radio */

div.radio-btn {
	position: relative;
}
div.radio-btn span {
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}
div.radio-btn input {
	opacity: 0;
 filter: alpha(opacity:0);
	text-align: center;
	display: inline-block;
	background: none;
}
/* Uploader */

div.uni-uploader {
	position: relative;
	overflow: hidden;
	cursor: default;
}
div.uni-uploader span.action {
	float: left;
	display: inline;
	padding: 2px 0px;
	overflow: hidden;
	cursor: pointer;
}
div.uni-uploader span.filename {
	padding: 0px 10px;
	float: left;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}
div.uni-uploader input {
	opacity: 0;
 filter: alpha(opacity:0);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	float: right;
	height: 25px;
	border: none;
	cursor: default;
}
.tbl_length {
	width:50px;
}
.data-tbl-inbox tr td:first-child, .data-tbl-inbox tr th:first-child {
	text-align:center;
}
.check-list {
	width:1% !important;
}
.col-half {
	width:20% !important;
}
.inbox-editor {
	width:100% !important;
}
.actionsBox {
	font-style:normal;
	left:50%;
	position:absolute;
	top:-50px;
	opacity:0;
	cursor:move;
	z-index:9000;
}
.actionsBox .menu {
	color:#47708F;
	line-height:15px;
	text-shadow:1px 1px 0px #fff;
	padding:7px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-weight:bold;
	border:1px solid #0e6fa8;
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(122, 188, 255, 1)), color-stop(44%, rgba(96, 171, 248, 1)), color-stop(100%, rgba(64, 150, 238, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(96, 171, 248, 1) 44%, rgba(64, 150, 238, 1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0 ); /* IE6-9 */
}
.actionsBox .menu .button {
	padding:4px 7px;
	border:1px solid #3B87AF;
	background:#e8f4fa;
	background:
 -webkit-gradient( linear, left bottom, left top, color-stop(0.38, rgb(230,243,249)), color-stop(0.88, rgb(245,249,250)) );
	background:
 -moz-linear-gradient( center bottom, rgb(230,243,249) 38%, rgb(245,249,250) 88% );
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
}
.actionsBox .menu .button:hover {
	background:#fff;
}
.actionsBox .menu span {
	padding:4px 7px;
	border:1px solid #3B87AF;
	background:#e8f4fa;
	background:
 -webkit-gradient( linear, left bottom, left top, color-stop(0.38, rgb(230,243,249)), color-stop(0.88, rgb(245,249,250)) );
	background:
 -moz-linear-gradient( center bottom, rgb(230,243,249) 38%, rgb(245,249,250) 88% );
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.actionsBox .submenu {
	display:none;
	width:120px;
	margin-left:59px;
	top:46px;
	right:10px;
	background:#fff;
	border:1px solid #3b87af;
	border-top:none;
	-moz-box-shadow:0px 1px 4px #ddd;
	-webkit-box-shadow:0px 1px 4px #ddd;
	box-shadow:0px 1px 4px #ddd;
}
.actionsBox .submenu a {
	display:block;
	cursor:pointer;
	padding:10px 15px;
	border-top:1px solid #D9EAF2;
}
.actionsBox .submenu a.last {
	-moz-border-radius:0px 0px 10px 10px;
}
.actionsBox .submenu a.first {
	border-top:none;
}
.actionsBox .submenu a:hover {
	background-color:#f9f9f9;
}
.actionsBox .menu a.open, .actionsBox .menu a.closed {
	border:1px solid #3B87AF;
	padding:4px 14px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
	margin-right:5px;
}
.actionsBox .menu a.open {
	background:#fff url(../img/open.png) no-repeat center center;
}
.actionsBox .menu a.closed {
	background:#fff url(../img/closed.png) no-repeat center center;
}
.actionsBox .menu a.open:hover, .actionsBox .menu a.closed:hover {
	opacity:1.0;
}

/**CLE EDITOR**/
.cleditorMain {
	border:1px solid #999;
	padding:0 1px 1px;
	background-color:white
}
.cleditorMain iframe {
	border:none;
	margin:0;
	padding:0
}
.cleditorMain textarea {
	border:none;
	margin:0;
	padding:0;
	overflow-y:scroll;
	font:10pt Arial, Verdana;
	resize:none;
	outline:none /* webkit grip focus */
}
.cleditorToolbar {
	background: url('../images/toolbar.gif') repeat
}
.cleditorGroup {
	float:left;
	height:26px
}
.cleditorButton {
	float:left;
	width:24px;
	height:24px;
	margin:1px 0 1px 0;
	background: url('../images/buttons.gif')
}
.cleditorDisabled {
	opacity:0.3;
	filter:alpha(opacity=30)
}
.cleditorDivider {
	float:left;
	width:1px;
	height:23px;
	margin:1px 0 1px 0;
	background:#CCC
}
.cleditorPopup {
	border:solid 1px #999;
	background-color:white;
	position:absolute;
	font:10pt Arial, Verdana;
	cursor:default;
	z-index:10000
}
.cleditorList div {
	padding:2px 4px 2px 4px
}
.cleditorList p, .cleditorList h1, .cleditorList h2, .cleditorList h3, .cleditorList h4, .cleditorList h5, .cleditorList h6, .cleditorList font {
	padding:0;
	margin:0;
	background-color:Transparent
}
.cleditorColor {
	width:150px;
	padding:1px 0 0 1px
}
.cleditorColor div {
	float:left;
	width:14px;
	height:14px;
	margin:0 1px 1px 0
}
.cleditorPrompt {
	background-color:#F6F7F9;
	padding:4px;
	font-size:8.5pt
}
.cleditorPrompt input, .cleditorPrompt textarea {
	font:8.5pt Arial, Verdana;
}
.cleditorMsg {
	background-color:#FDFCEE;
	width:150px;
	padding:4px;
	font-size:8.5pt
}

.table_top {
padding: 10px 0 15px 0;
}
.dataTables_length {
	width: 40%;
	float: right;
	text-align:right;
}
.lengthLabel {
	display:inline-block;
	float: right;
	padding-top:5px;
	padding-right:10px;
}
.lenghtMenu {
	display:inline-block;
	float: right;
}
.dataTables_filter {
	width: 40%;
	float: left;
	text-align: left;
}
.dataTables_filter input {
	border: 1px solid #D8D8D8;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px 2px 5px 25px;
	background:#fff url(../img/sprite-icons/icons-a.png) no-repeat 3px -896px;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
.dataTables_filter input:focus {
	box-shadow: 0 0 4px #bbb;
	-webkit-box-shadow: 0 0 4px #bbb;
	-moz-box-shadow: 0 0 4px #bbb;
	border: 1px solid #bbb;
}

/*===SELECT BOX===*/
/* @group Base */
.chzn-container {
	font-size: 12px;
	position: relative;
	display: inline-block;
	zoom: 1;
 *display: inline;
}
.chzn-container .chzn-drop {
	background: #fff;
	border: 1px solid #d8d8d8;
	border-top: 0;
	position: absolute;
	top: 29px;
	left: 0;
	/*  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15);
*/  z-index: 999;
}
/* @end */

/* @group Single Chosen */
.chzn-container-single .chzn-single {
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #f7f7f7 0%, #ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=0 ); /* IE6-8 */
	-moz-background-clip : padding;
	-webkit-background-clip: padding-box;
	background-clip : padding-box;
	border: 1px solid #d8d8d8;
	/*	-moz-box-shadow: 0 0 0 2px #dfebf4;
	-webkit-box-shadow: 0 0 0 2px #dfebf4;
	box-shadow: 0 0 0 2px #dfebf4;
*/  display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 26px;
	line-height: 26px;
	padding: 0 0 0 8px;
	color: #444444;
	text-decoration: none;
}
.chzn-container-single .chzn-default {
	color: #999;
}
.chzn-container-single .chzn-single span {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
	display: block;
	position: absolute;
	right: 26px;
	top: 6px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url(../img/chosen-sprite.png) right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
	background-position: right -11px;
}
.chzn-container-single .chzn-single div {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 18px;
}
.chzn-container-single .chzn-single div b {
	background: url(../images/chosen-sprite.png) no-repeat 0 0;
	display: block;
	width: 100%;
	height: 100%;
}
.chzn-container-single .chzn-search {
	padding: 3px 4px;
	position: relative;
	margin: 0;
	white-space: nowrap;
	z-index: 1010;
}
.chzn-container-single .chzn-search input {
	background: #fff url(../img/chosen-sprite.png) no-repeat 100% -21px;
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(../img/chosen-sprite.png) no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	outline: 0;
	border: 1px solid #d8d8d8;
	font-family: sans-serif;
	font-size: 1em;
}
.chzn-container-single .chzn-drop {
	-moz-background-clip : padding;
	-webkit-background-clip: padding-box;
	background-clip : padding-box;
}
/* @end */

.chzn-container-single-nosearch .chzn-search input {
	position: absolute;
	left: -9000px;
}
/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	border: 1px solid #d8d8d8;
	margin: 0;
	padding: 0;
	cursor: text;
	overflow: hidden;
	height: auto !important;
	height: 1%;
	position: relative;
}
.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
	color: #666;
	background: transparent !important;
	border: 0 !important;
	font-family: sans-serif;
	font-size: 100%;
	height: 15px;
	padding: 5px;
	margin: 1px 0;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow : none;
	-o-box-shadow : none;
	box-shadow : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
	color: #999;
}
/*--Multiple--*/
.chzn-container-multi .chzn-choices .search-choice {
	-moz-background-clip : padding;
	-webkit-background-clip: padding-box;
	background-clip : padding-box;
	background-color: #e4e4e4;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	/*  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  -moz-box-shadow   : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  box-shadow        : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
*/  color: #333;
	border: 1px solid #d8d8d8;
	line-height: 13px;
	padding: 3px 20px 3px 5px;
	margin: 3px 0 0px 3px;
	position: relative;
	cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
	background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	display: block;
	position: absolute;
	right: 3px;
	top: 4px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url(../img/chosen-sprite.png) right top no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
	background-position: right -11px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
	background-position: right -11px;
}
/* @end */

/* @group Results */
.chzn-container .chzn-results {
	margin: 0 0px 0px 0;
	max-height: 240px;
	padding: 0 0 0 0px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.chzn-container-multi .chzn-results {
	margin: -1px 0 0;
	padding: 0;
}
.chzn-container .chzn-results li {
	display: none;
	line-height: 15px;
	padding: 5px 6px;
	margin: 0;
	list-style: none;
}
.chzn-container .chzn-results .active-result {
	cursor: pointer;
	display: list-item;
}
.chzn-container .chzn-results .highlighted {
	background-color: #3875d7;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	color: #fff;
}
.chzn-container .chzn-results li em {
	background: #feffde;
	font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
	background: transparent;
}
.chzn-container .chzn-results .no-results {
	background: #f4f4f4;
	display: list-item;
}
.chzn-container .chzn-results .group-result {
	cursor: default;
	color: #999;
	font-weight: bold;
}
.chzn-container .chzn-results .group-option {
	padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
	display: none;
}
.chzn-container .chzn-results-scroll {
	background: white;
	margin: 0 4px;
	position: absolute;
	text-align: center;
	z-index: 1;
}
.chzn-container .chzn-results-scroll span {
	display: inline-block;
	height: 17px;
	text-indent: -5000px;
	width: 9px;
}
.chzn-container .chzn-results-scroll-down {
	bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
	background: url(../img/chosen-sprite.png) no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
	background: url(../img/chosen-sprite.png) no-repeat -22px -3px;
}
/* @end */

/* @group Active  */
.chzn-container-active .chzn-single {
/*	-moz-box-shadow: 0 0 0 2px #dfebf4;
	-webkit-box-shadow: 0 0 0 2px #dfebf4;
	box-shadow: 0 0 0 2px #dfebf4;
  border: 1px solid #5897fb;
*/}
.chzn-container-active .chzn-single-with-drop {
	border: 1px solid #d8d8d8;
	/*  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow   : 0 1px 0 #fff inset;
  -o-box-shadow     : 0 1px 0 #fff inset;
  box-shadow        : 0 1px 0 #fff inset;
*/  background-color: #eee;
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -ms-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%);
}
.chzn-container-active .chzn-single-with-drop div {
	background: transparent;
	border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
	background-position: -18px 1px;
}
.chzn-container-active .chzn-choices {
	/*  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
  -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
  -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
  box-shadow        : 0 0 5px rgba(0,0,0,.3);
*/ 
 border: 1px solid #d8d8d8;
}
.chzn-container-active .chzn-choices .search-field input {
	color: #111 !important;
}
/* @end */

/* @group Disabled Support */
.chzn-disabled {
	cursor: default;
	opacity:0.5 !important;
}
.chzn-disabled .chzn-single {
	cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
	cursor: default;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}
.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}
.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}
.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}
.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
th:active {
	outline: none;
}

/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #ebebeb;
}
tr.odd td.sorting_2 {
	background-color: #DADCFF;
}
tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}
tr.even td.sorting_1 {
	background-color: #f6f6f6;
}
tr.even td.sorting_2 {
	background-color: #F2F3FF;
}
tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


.widget-block {
	margin-bottom:20px;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%, #dbdbdb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 ); /* IE6-9 */
	border: 1px solid #c2c2c2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9;
	box-shadow: inset 0 1px 0 #f9f9f9;
}
.widget-block .widget-box {
	background:#fff;
	border-top:#d2d2d2 1px solid;
	-webkit-box-shadow: inset 0 0 5px #ddd;
	-moz-box-shadow: inset 0 0 5px #ddd;
	box-shadow: inset 0 0 5px #ddd;
}
.widget-block .widget-content {
	background:#eee;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.widget-block .widget-content .widget-box {
	margin-top:0px !important;
}
.widget-block .widget-content .widget-box .table {
	margin-bottom:0px !important;
}
.table-default {
	background:#fff;
}
.widget-block .widget-head {
	height:40px;
	position:relative;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%, #dbdbdb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #c2c2c2;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ddd;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ddd;
	box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ddd;
}
.collapsible-widget .widget-head {
	cursor:pointer;
}
.widget-block .widget-head .h-icon {
	width:16px;
	height:16px;
	display:block;
	position:absolute;
	top:12px;
	right:10px;
	background:url(../img/collapse.gif) no-repeat;
}
.widget-block .active .h-icon {
	background-position:left !important
}
.widget-block .inactive .h-icon {
	background-position:right !important
}
.widget-block .widget-head h5 {
	padding-left: 10px;
	padding-top:11px;
	text-transform:uppercase;
	font-size:12px;
	margin:0px;
}
.widget-block .widget-bottom {
	height:40px;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dbdbdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%, #dbdbdb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #c2c2c2;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ddd;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ddd;
	box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ddd;
}
.nonboxy-widget {
	margin-bottom:20px;
}
.nonboxy-widget .widget-head {
	font-size:12px;
	border-bottom:#bbb 2px solid;
	height:40px;
	margin-bottom:10px;
	position:relative;
}
.nonboxy-widget .widget-head h5 {
	line-height:40px;
	text-transform:uppercase;
}
.nonboxy-widget .widget-head i {
	margin-right:5px;
}
.nonboxy-widget .widget-table {
	border: 1px solid #dddddd;
	border-collapse: separate;
 *border-collapse: collapsed;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:#FFF;
	margin-bottom:0px;
}
.nonboxy-widget .widget-searchbox ul, .nonboxy-widget .widget-selectbox ul {
	padding:0px !important;
}
.nonboxy-widget .widget-bottom .pagination ul {
	margin-left:0px;
}
.user-thumb {
	background:#e4e4e4;
	padding:5px;
	height:40px;
	width:40px;
	display:block;
	margin:auto;
}
.widget-block .user-tbl tr th {
	color:#666;
	font-weight:normal;
	text-transform:uppercase;
	font-size:11px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9;
	box-shadow: inset 0 1px 0 #f9f9f9;
	text-shadow:
 0px -1px 0px rgba(255, 255, 255, .8), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.widget-block .user-tbl tr th, .user-tbl tr td {
	vertical-align:middle !important;
}
.widget-block .user-tbl .center, .widget-block .task-tbl .center, .widget-block .order-tbl .center, .widget-block .post-tbl .center {
	text-align:center;
}
.center {
	text-align:center !important;
}
.right-align {
	text-align:right !important;
}
.widget-content form {
	margin:0px !important;
}
.widget-searchbox ul, .widget-selectbox ul {
	margin:0px;
	padding:10px 10px 0 10px;
}
.widget-searchbox li, .widget-selectbox li {
	float:left;
	display:inline-block;
	list-style:none;
}
.widget-searchbox ul:after, .widget-selectbox ul:after {
	clear: both;
}
.widget-searchbox ul:after, .widget-selectbox ul:after {
	content: "";
	display: table;
}
.widget-searchbox input[type=text] {
	width:140px;
}
.widget-selectbox .data-select {
	width:140px;
}
.widget-searchbox .input-prepend, .widget-selectbox .input-prepend {
	margin-bottom:10px !important;
}
.widget-searchbox .row-counts, .widget-selectbox .row-counts {
	padding-top:6px;
	text-transform:uppercase;
	font-size:11px;
	color:#666;
}
.top-search {
	width:205px;
}
.top-search form {
	margin-bottom:0px;
	padding:10px 10px 5px 15px;
}
.top-search input[type=text] {
	width:140px;
}
.widget-control {
	position:absolute;
	top:0px;
	right:0px;
	border-left:#c9c9c9 1px solid;
}
.widget-control .btn {
	border:none !important;
	-webkit-border-radius: 0px 3px 0 0;
	-moz-border-radius: 0px 3px 0 0;
	border-radius: 0px 3px 0 0;
	line-height:32px;
}
.widget-control .caret {
	margin-top:13px;
}
.widget-control .dropdown-menu {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f9f9 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f9f9 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f9f9 0%, #ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f9f9 0%, #ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f9f9f9 0%, #ffffff 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff', GradientType=0 ); /* IE6-9 */
	border-bottom:1px solid rgba(0, 0, 0, 0.2);
	border-left:1px solid rgba(0, 0, 0, 0.2);
	border-right:0px solid rgba(0, 0, 0, 0.2);
	border-top:0px;
}
.tbl-tools-searchbox {
	padding:20px 20px 15px 20px;
	background: #eee;
	webkit-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ccc;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #cccc;
	box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ccc;
	clear:both;
}
.tbl_tools {
	background:#f9f9f9;
	border-bottom: #ccc 1px solid;
}
.tbl-tools-searchbox input, .tbl-tools-searchbox select {
	margin:0px;
}
.clear{
	clear:both;
}

/*
 * File:        TableTools.css
 * Description: Styles for TableTools 2
 * Author:      Allan Jardine (www.sprymedia.co.uk)
 * Language:    Javascript
 * License:     LGPL / 3 point BSD
 * Project:     DataTables
 * 
 * Copyright 2010 Allan Jardine, all rights reserved.
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * CSS name space:
 *   DTTT                  DataTables TableTools
 *
 * Colour dictionary:
 *   Button border         #d0d0d0
 *   Button border hover   #999999
 *   Hover background      #f0f0f0
 *   Action blue           #4b66d9
 *
 * Style sheet provides:
 *   CONTAINER             TableTools container element and styles applying to all components
 *   BUTTON_STYLES         Action specific button styles
 *   SELECTING             Row selection styles
 *   COLLECTIONS           Drop down list (collection) styles
 *   PRINTING              Print display styles
 *   MISC                  Minor misc styles
 */


/*
 * CONTAINER
 * TableTools container element and styles applying to all components
 */
 .tbl_tools {
	border-top:#CCC 1px solid;
}
div.DTTT_container {
	position: relative;
	float: left;
	margin: 15px;
}
button.DTTT_button {
	position: relative;
	float: left;
	height: 30px;
	margin-right: 5px;
	padding: 3px 10px;
	border: 1px solid #d0d0d0;
	background-color: #fff;
	cursor: pointer;
 *cursor: hand;
	font-size:11px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
 button.DTTT_button::-moz-focus-inner {
 border: none !important;
 padding: 0;
}
/*
 * BUTTON_STYLES
 * Action specific button styles
 */

button.DTTT_button_csv {
	padding-right: 30px;
	background:#eee url(../img/table-tools/csv.png) no-repeat center right;
}
button.DTTT_button_csv_hover {
	padding-right: 30px;
	border: 1px solid #ccc;
	background: url(../img/table-tools/csv_hover.png) no-repeat center right;
}
button.DTTT_button_xls {
	padding-right: 30px;
	background:#eee url(../img/table-tools/xls.png) no-repeat center right;
}
button.DTTT_button_xls_hover {
	padding-right: 30px;
	border: 1px solid #ccc;
	background: url(../img/table-tools/xls_hover.png) no-repeat center right;
}
button.DTTT_button_copy {
	padding-right: 30px;
	background:#eee url(../img/table-tools/copy.png) no-repeat center right;
}
button.DTTT_button_copy_hover {
	padding-right: 30px;
	border: 1px solid #ccc;
	background: url(../img/table-tools/copy_hover.png) no-repeat center right;
}
button.DTTT_button_pdf {
	padding-right: 30px;
	background:#eee url(../img/table-tools/pdf.png) no-repeat center right;
}
button.DTTT_button_pdf_hover {
	padding-right: 30px;
	border: 1px solid #ccc;
	background: url(../img/table-tools/pdf_hover.png) no-repeat center right;
}
button.DTTT_button_print {
	padding-right: 30px;
	background:#eee url(../img/table-tools/print.png) no-repeat center right;
}
button.DTTT_button_print_hover {
	padding-right: 30px;
	border: 1px solid #ccc;
	background: url(../img/table-tools/print_hover.png) no-repeat center right;
}
button.DTTT_button_text {
}
button.DTTT_button_text_hover {
	border: 1px solid #ccc;
	background-color: #f0f0f0;
}
button.DTTT_button_collection {
	padding-right: 17px;
	background: url(../img/table-tools/collection.png) no-repeat center right;
}
button.DTTT_button_collection_hover {
	padding-right: 17px;
	border: 1px solid #ccc;
	background: url(../img/table-tools/collection_hover.png) no-repeat center right;
}

/* =====================
 * Table ColVis styles
 */
.ColVis {
	float: right;
	margin: 15px 12px;
}
.ColVis_Button {
	position: relative;
	float: left;
	margin-right: 3px;
	padding: 3px 5px;
	height: 30px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	font-size:11px;
	cursor: pointer;
 *cursor: hand;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
 button.ColVis_Button::-moz-focus-inner {
 border: none !important;
 padding: 0;
}
.ColVis_text_hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}
div.ColVis_collectionBackground {
	background-color: black;
	z-index: 1100;
}
div.ColVis_collection {
	position: relative;
	width: 150px;
	background-color: #f3f3f3;
	padding: 3px;
	border: 1px solid #ccc;
	z-index: 1102;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
div.ColVis_collection button.ColVis_Button {
	background-color: white;
	width: 100%;
	float: none;
	margin-bottom: 2px;
}
div.ColVis_catcher {
	position: absolute;
	z-index: 1101;
}
.disabled {
	color: #999;
}
button.ColVis_Button {
	text-align: left;
}
div.ColVis_collection button.ColVis_Button:hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}
span.ColVis_radio {
	display: inline-block;
	width: 20px;
}
span.ColVis_title {
	position:relative;
	top:-2px;
}

.dataTables_paginate {
float: right;
text-align: right;
}
.paging_full_numbers {
width: 400px;
height: 22px;
line-height: 22px;
}
.widget-bottom .dataTables_paginate {
padding-top: 8px;
padding-right: 10px;
}

.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
	border: 1px solid #9F9F9F;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding:4px 8px;
	margin-left:3px;
	cursor: pointer;
	font-size:11px;
 *cursor: hand;
}
.paging_full_numbers a.paginate_button {
	background: #dadada; /* Old browsers */
	background: -moz-linear-gradient(top, #dadada 0%, #bdbdbd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dadada), color-stop(100%, #bdbdbd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dadada 0%, #bdbdbd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dadada 0%, #bdbdbd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dadada 0%, #bdbdbd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dadada 0%, #bdbdbd 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#bdbdbd', GradientType=0 ); /* IE6-9 */
	border: 1px solid #9f9f9f;
	color:#444;
	font-size:11px;
	font-weight:bold;
	text-shadow:0px -1px 0px rgba(255, 255, 255, .8), 0px 1px 0px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ccc;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #cccc;
	box-shadow: inset 0 1px 0 #f9f9f9, 0 0 3px #ccc;
}
.paging_full_numbers a.paginate_button:hover {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0 ); /* IE6-9 */
}
.paging_full_numbers a.paginate_active {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0 ); /* IE6-9 */
	color:#444;
	font-size:11px;
	font-weight:bold;
}
.paging_full_numbers a.paginate_button_disabled {
	background:#ccc;
	color:#aaa !important;
	text-shadow:none;
	border:#bbb 1px solid;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow:none !important;
}
.paging_full_numbers a.paginate_button_disabled:hover {
	background:#ccc;
}

/***********Icon Set**********/

#font-icons li {
    width: 40px;
    height: 40px;
    font-size: 21px;
}

#font-icons li [class*="icon-"], #jui-icons li [class*="icon-"]{
    line-height: 40px;
	list-style: none;
	cursor: pointer;
}
#icol16 li, 
#font-icons li, 
#icons-colors li {
    margin: 4px;
    display: inline-block;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    background-position: center center;
    width: 32px;
    height: 32px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#icol16 li [class*="icol-"] {
    margin-top: 8px;
}

#icons-colors li [class*="icol32-"] {
    margin-top: 8px;
}

#jui-icons li {
    float: left;
    margin: 2px;
    padding: 4px 0;
	list-style:none;
}

#jui-icons li.ui-state-default {
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
}

#jui-icons li span {
    display: inline-block;
    margin: 0 4px;
}
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
