			input:focus, 
			textarea:focus {
				outline: none;
			}

			label, 
			select, 
			button, 
			input[type="submit"], 
			input[type="radio"], 
			input[type="checkbox"] 
			input[type="button"] {
				cursor: pointer;
			}

			* {
				font-size:100%;
				margin: 0;
				padding: 0;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			body {
			  background:#639EB4;
			}

			* {
			  font-family:"Helvetica Neue", Helvetica, Arial;
			}


			.form {
			  background:#fff;
			  position: relative;
			  border-radius:6px;
			  padding:20px;
			  padding-top:30px;
			  width:600px;
			  height:300px;
			  margin:50px auto;
			  box-shadow:15px 15px 0px rgba(0,0,0,.1);
			}

			input {
			  width:100%;
			  background:#f5f5f5;
			  border:0;
			  padding:20px;
			  margin-bottom:1px;
			  border:1px solid #eee;
			}
			
			#loader{
				position: absolute;
				top: 14%;
				right: 5%;
				z-index: 9999;
			}
			
			#search_suggestion_holder{
				list-style: none;
				display:none;
				border-bottom: 1px #f8f8f8;
				border-left: 1px solid #f8f8f8;
				border-right: 1px solid #f8f8f8;
				border-style: solid;
				border-top: none;
			}
			
			#search_suggestion_holder li:hover{
				background-color: #FAFAFA;
			}
			.selected{
				background-color: #FAFAFA !important;
			}
			
			#search_suggestion_holder li{
				cursor: pointer;
				display: block;
				background-color: #f0f0f0;
				color: #c1c1c1;
				margin-bottom: 0px;
				border-bottom: 1px solid #ddd;
				padding: 4px;
				text-shadow: 1px 1px 4px #fff;
				-webkit-text-shadow: 1px 1px 4px #fff;
				-moz-text-shadow: 1px 1px 4px #fff;
			}
			#loader{
				display:none;
			}
