@charset "utf-8";

@import url("reset.css");










body {

	background: #f7f7f7;

	font-family: 'Open Sans', sans-serif;

	color: #101010;

	font-size: 14px;

	line-height: 25px;

}



/********** custom css *********************/

.mainheadingWithRss h1{
	display: inline-block;
    float: left;
    margin-top: 0px;

	}
.mainheadingWithRss a{
	 float: left;
    height: 30px;
    padding-left: 10px;
    width: 42px;

	}
@media only screen and (max-width: 767px) {
	.mainheadingWithRss a {
    padding-left: 0;
}
	}	
	
/********** custom css /*********************/









.reportsearchboxleft{

	  margin-left: 0 !important;

    margin-right: 0 !important;

    margin-top: 0 !important;

    padding: 0 0 17px;

	}

.reportsearchboxright{

	  margin-left: 0 !important;

    margin-right: 0 !important;

    margin-top: 0 !important;

    padding: 0 0 17px;

	}

.filterbox{

	width:98% !important;

	}

	

.filterbox input{

	

	}	

	



/*******************************************************************************************************/

/* miscellaneous */

/*******************************************************************************************************/

.new12{float: right;

  padding: 0px 10px 0px 0px; font-size: 14px;}



.new121{ float: right;

  margin-right: 10px;font-size: 14px;}

  

.wrap {

	width: 960px;

	margin: 0 auto;

}

i {

	padding-right: 5px;

}

#google_map {

	width: 100%;

	height: 300px;

}

.content_404 {

	text-align: center;

}

.content_404 .search {

	margin: 0 auto;

}

.highlight {

	background: #ff9900;

	color: #fff;

	padding: 4px;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.clear {

	clear: both;

}

.alignleft {

	float: left;

	text-align: left;

}

.alignright {

	float: right;

	text-align: right;

}

.space {

	padding: 10px 0;

}

.space2 {

	padding: 10px 0;

}

.space3 {

	padding: 10px 0;

}

.space1 {

	padding: 10px 0;

}

.divider {

	border-top: 3px solid #dadada;

	border-bottom: 1px solid #dadada;

	width: 100%;

	margin: 0px 0 20px 0px;

}

.divider2 {

	border-top: 3px solid #ededed;

	border-bottom: 1px solid #ededed;

	width: 100%;

	margin: 40px 0;

}

.heading {

	background: url("../images/heading.png") repeat-x center center;

	width: 100%;

	margin: 0 0 10px 0;

}

.heading span {

	background: #F7F7F7;

	padding: 0 30px 0 0;

	font-size: 20px;

	color: #01468F;

	  font-size: 15px !important;

}

.heading em {

	font-weight: bold;

}

.heading2 {

	background: url("../images/heading.png") repeat-x center center;

	width: 100%;

	margin: 0 0 20px 0;

}

.heading2 span {

	background: #f7f7f7;

	padding: 0 30px 0 0;

	font-size: 20px;

	color: #333;

	text-transform: uppercase;

}

.heading2 em {

	font-weight: bold;

}

/*******************************************************************************************************/

/* columns */

/*******************************************************************************************************/



.one_half {

	float: left;

	width: 46%;

	margin: 0 10px 0 0px;

}

.one_third {

	float: left;

	margin-right: 2%;

	width: 29%;

}

.two_thirds {

	float: left;

	width: 76%;

	margin: 0 1% 0 0;

}

.one_fourth {

	width: 23%;

	float: left;

	margin-right: 2.6%;

}

.one_fifth {

	float: left;

	width: 20%;

	margin: 0 1.5% 0 0;

}

.fifth_remaining {

	float: left;

	width: 78%;

	margin: 0 5% 0 0;

}

.fifth_remaining_new {

	float: left;

	width: 66%;

	margin: 0 5% 0 0;

}



  .newp{ padding: 8px 68px !important;}

.last {

	margin-right: 0 !important;

}

.last2 {

	margin-bottom: 0 !important;

}

/*******************************************************************************************************/

/* links */

/*******************************************************************************************************/



a {

	color: #01468F;

	text-decoration: none;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

a:hover {

	color: #000;

	text-decoration: none;

}

/*******************************************************************************************************/

/* headings */

/*******************************************************************************************************/



h1 {

	font-size: 25px;

}

h2 {

	font-size: 22px;

}

h3 {

	font-size: 16px;

}

h4 {

	font-size: 19px;

}

h5 {

	font-size: 14px;

}

h6 {

	font-size: 13px;

}

h1, h2, h3, h4, h5, h6 {

	/*font-family: 'Ubuntu', sans-serif;*/

	font-family: 'Open Sans', sans-serif;

	color: #01468F;

	margin: 0 0 0px 0;

}

a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover, a h6:hover {

	color: #0d0d0d !important;

}

/*******************************************************************************************************/

/* paragraph */

/*******************************************************************************************************/



p {

	font-family: 'Open Sans', sans-serif;

  font-size: 13px;

	line-height: 22px;

	margin: 0 0 10px 0;

	text-shadow: none;

	color: #2c2c2c;

}

/*******************************************************************************************************/

/* pre */

/*******************************************************************************************************/



pre {

	background: #fff;

	border: 1px solid #eee;

	padding: 10px 20px;

	color: #555;

	margin: 10px 0;

	float: left;

	width: 920px;

	font-size: 11px;

}

/*******************************************************************************************************/

/* top */

/*******************************************************************************************************/



header#top {

	  background: #5E5E5E;

  width: 100%;

  color: #FDFDFD;

  margin: 0;

	padding: 0;

	-webkit-transition: all 500ms ease-in;

	-o-transition: all 500ms ease-in;

	-moz-transition: all 500ms ease-in;

	transition: all 500ms ease-in;

}

.top_area {

	background: #ededed;

	width: 100%;

}

.top_area i {

	color: #000;

	font-size: 18px;

}

.top_area ul li {

	float: left;

	font-size: 13px;

	padding-right: 30px;

}

.top_area ul li a {

	font-size: 13px;

	/*color: #888;*/

	color: #2c2c2c;

}

.top_area ul li a:hover {

	font-size: 13px;

	color: #d92618;

}

#top_area_links {

	padding: 15px 0;

	float: right;

}

#top_area_links li {

	float: left;

	padding-right: 0;

	padding-left: 30px;

}

/*******************************************************************************************************/

/* social icons */

/*******************************************************************************************************/



.social {

	float: left;

	padding: 0px 0 0 0;

	display: none;

}

.social i {

	padding: 0;

	color: #fff;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

	margin-right: 5px;

}

.social li {

	width: auto;

	float: left;

	margin: 0 5px 0 0;

	padding-right: 0 !important;

	border: none;

}

.social li a {

	width: auto;

	text-align: center;

	border: none;

	background: transparent;

}

.social li:hover i {

	color: #d92618;

}

/*******************************************************************************************************/

/* logo */

/*******************************************************************************************************/



#logo p {

	font-size: 32px;

	float: left;

	margin-top: 35px;

	color: #222;

	-webkit-transition: all 1s;

	-o-transition: all 1s;

	-moz-transition: all 1s;

	transition: all 1s;

}

#logo a, #logo a:hover {

	color: #222;

}

/*******************************************************************************************************/

/* logo */

/*******************************************************************************************************/



#logo p {

	font-size: 32px;

	float: left;

	margin-top: 0px;

	color: #222;

	-webkit-transition: all 1s;

	-o-transition: all 1s;

	-moz-transition: all 1s;

	transition: all 1s;

}

#logo a, #logo a:hover {

	color: #222;

}

/*******************************************************************************************************/

/* navigation menu */

/*******************************************************************************************************/



#toggle i {

	display: none;

	color: #fff;

	text-align: center;

	font-size: 30px;

	margin: 0 auto;

	padding: 10px 0 0 0;

}

nav {

	margin: 0 auto;

	float: left;

}

nav ul li {

	float: left;

	display: block;

}

nav ul li a {

	color: #fff;

	

	padding: 6px 28px;

	margin-left: 1px;

	font-family: 'Open Sans', sans-serif;

	  font-size: 13px !important;

	display: block;

	position: relative;

	-webkit-transition: all 1s;

	-o-transition: all 1s;

	-moz-transition: all 1s;

	transition: all 1s;

}

.but12 {

	

	

	background-color: #F90 !important;

}

.boxx {

	  height: 160px;

  border: 1px solid rgba(208, 208, 208, 0.76);

  padding: 2% 8%;

  width: 84%;

  background-color: #FCFCFC;

  float: left;

  margin-bottom: 15px;

  margin-right: 2%;

}

nav ul li a span {

	color: #888;

	text-align: left;

	text-transform: lowercase;

	font-weight: normal !important;

	display: block !important;

}

nav ul li a:hover {

	color: #fff;

	

}

nav ul li a.selected {

	color: #fff;

	font-weight: bold;

	border-top: 3px solid #d92618;

}

nav ul ul .selected {

	background: #d92618;

	color: #fff;

}

nav ul ul .selected {

	color: #fff !important;

	border-top: none !important;

}

nav ul, nav ul * {

	margin: 0;

	padding: 0;

	list-style: none;

}

nav ul li {

	position: relative;

}

nav ul > li {

	float: left;

}



nav ul li a:hover > ul, nav ul li.sfHover > ul {

	display: block;

}

nav ul {

	float: right !important;

}

nav ul ul {

	position: absolute;

	margin: 20px 0 0 0px;

	display: none;

	top: 70px;

	width: 180px;

	padding: 0px 0 0 0 !important;

	left: 0px;

	z-index: 999;

}

nav ul ul li {

	border-bottom: 1px solid #111;

	border-top: none;

	padding: 0 !important;

	margin: 0 !important;

	width: 180px;

	background: #000;

}

nav ul ul li:hover {

	border-top: none;

}

nav ul ul li:last-child {

	border-bottom: none;

}

nav ul ul a {

	background: #000;

	margin-left: 0;

	color: #fff;

	font-size: 12px;

	border: none;

	padding: 10px 10px !important;

}

nav ul ul a:hover {

	border: none;

}

nav ul ul li a:hover, nav ul ul ul li a:hover {

	color: #fff;

	background: #d92618;

}

nav ul ul ul {

	top: -10px;

	z-index: 9;

	left: 140px;

	padding: 0 !important;

	border-top: 1px solid #111;

}

/*******************************************************************************************************/

/* slider wrapper */

/*******************************************************************************************************/



#slider_wrapper {

	text-align: center;

	width: 100%;

	background: #ededed;

	padding: 120px 0 110px 0;

	color: #d92618;

}

#slider_wrapper h2 {

	color: #d92618;

	text-transform: uppercase;

	margin-bottom: 10px;

	font-size: 25px;

	padding-top: 5px;

	font-weight: normal;

}

#slider_wrapper h1 {

	color: #d92618;

	text-transform: uppercase;

	padding-bottom: 20px;

	margin-bottom: 30px;

	font-size: 45px;

	padding-top: 5px;

}

#slider_wrapper p {

	padding-bottom: 60px;

	color: #888;

}

#slider_wrapper2 {

	text-align: center;

	width: 100%;

	background: #ededed;

	padding: 10px 0 10px 0;

}

#slider_wrapper2 h1 {

	color: #000;

	z-index: 1;

	text-align: left;

	font-size: 20px !important;

}

#slider .slide {

	text-align: center;

	margin: 0 auto;

	width: 90%;

	text-align: center;

}

.bx-prev {

	background: transparent;

	position: absolute;

	top: 45%;

	left: 0px;

	width: 20px;

	height: 20px;

	border-bottom: 8px solid #d92618;

	border-left: 8px solid #d92618;

	transform: rotate(45deg);

	-ms-transform: rotate(45deg);

	-webkit-transform: rotate(45deg);

}

.bx-prev:hover {

	background: transparent;

	position: absolute;

	top: 45%;

	left: 0px;

	width: 20px;

	height: 20px;

	border-bottom: 8px solid #000;

	border-left: 8px solid #000;

	opacity: 1;

	transform: rotate(45deg);

	-ms-transform: rotate(45deg);

	-webkit-transform: rotate(45deg);

}

.bx-next {

	background: transparent;

	position: absolute;

	top: 45%;

	right: 0px;

	width: 20px;

	height: 20px;

	border-top: 8px solid #d92618;

	border-right: 8px solid #d92618;

	transform: rotate(45deg);

	-ms-transform: rotate(45deg);

	-webkit-transform: rotate(45deg);

}

.bx-next:hover {

	background: transparent;

	position: absolute;

	top: 45%;

	right: 0px;

	width: 20px;

	height: 20px;

	border-top: 8px solid #000;

	border-right: 8px solid #000;

	opacity: 1;

	transform: rotate(45deg);

	-ms-transform: rotate(45deg);

	-webkit-transform: rotate(45deg);

}

/*******************************************************************************************************/

/* button */

/*******************************************************************************************************/



a.button {

	/*padding: 13px 30px;*/

	background: #01468f;

	color: #fff;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

a.button:hover {

	/*padding: 13px 30px;*/

	background: #d92618;

	color: #fff;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

a.button1 {

	padding: 20px 40px;

	background: #dddddd;

	color: #000;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

a.button1:hover {

	padding: 20px 40px;

	background: #ff9900;

	color: #fff !important;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

a.buttondel {

	padding:7px 32px;

	background: #d92618;

	color: #fff;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

a.buttondel:hover {

	padding: 20px 40px;

	background: #01468f;

	color: #fff;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

/*******************************************************************************************************/

/* button2 */

/*******************************************************************************************************/



a.button2 {

	width: 150px;

	padding: 20px 40px;

	color: #d92618;

	font-size: 20px;

	margin: 0 auto;

	text-transform: uppercase;

	text-align: center;

	background: transparent;

	border: 3px solid #d92618;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

a.button2:hover {

	background: #d92618;

	color: #fff;

}

/*******************************************************************************************************/

/* button sizes */

/*******************************************************************************************************/

.small {

	  padding: 6px 20px;

  font-size: 14px !important;

  font-weight: normal !important;

}

.medium {

	padding: 20px 40px !important;

}

.big {

	padding: 30px 50px !important;

}

/*******************************************************************************************************/

/* content */

/*******************************************************************************************************/



.content {

	padding: 10px 0 0px 0px;

}

.content i {

	color: rgb(255, 153, 0);

	  font-size: 12px;

}

.content a h1, .content a h2, .content a h3, .content a h4, .content a h5, .content a h6 {

	color: #d92618;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.content a h1:hover, .content a h2:hover, .content a h3:hover, .content a h4:hover, .content a h5:hover, .content a h6:hover {

	color: #000;

}

/*******************************************************************************************************/

/* icon wrapper */

/*******************************************************************************************************/



.icons_wrapper i {

	width: 20px !important;

	padding: 0 10px 0 0;

	display: inline-block;

	color: #d92618;

	text-align: right;

}

.icons_wrapper li:hover i {

	color: #000;

	font-size: 20px;

}

/*******************************************************************************************************/

/* box feature - this are for the sections with title, short paragraph and an icon in the left, placed on the homepage */

/*******************************************************************************************************/



.quick-features i {

	font-size: 30px;

	color: #222;

	vertical-align: middle;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.quick-features em {

	font-size: 14px;

}

.quick-features p:hover i {

	color: #d92618;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.box_feature_icon {

	float: left;

	height: 100%;

	width: 55px;

	position: relative;

}

.box_feature_icon span {

	background: #01468f;

	position: absolute;

	top: 0;

	color: #fff;

	font-size: 22px;

	padding: 0px 10px;

	border-radius: 50%;

	-moz-border-radius: 50%;

	-webkit-border-radius: 50%;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.box_feature:hover .box_feature_icon span {

	color: #fff;

	background: #d92618;

}

.box_feature_text {

	float: left;

	  padding-left: 66px;

}

.box_feature h6 {

	font-size: 14px;

	margin: 0 0 5px 0;

	font-family: 'Open Sans', sans-serif;

}

.box_feature p {

	margin: 0;

}

/*******************************************************************************************************/

/* hosting boxes - the pricing */

/*******************************************************************************************************/



.pricing_wrapper {

	position: relative;

	z-index: 99 !important;

}

.pricing {

	position: relative;

	background: #d92618;

	border: 1px solid #d92618;

	text-align: center;

	overflow: hidden;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;

}

.pricing h4 {

	text-transform: capitalize;

	color: #fff;

	font-weight: normal;

	margin-bottom: 10px;

}

.pricing_top {

	padding: 40px 0;

	-webkit-border-top-left-radius: 3px;

	-webkit-border-top-right-radius: 3px;

	-moz-border-radius-topleft: 3px;

	-moz-border-radius-topright: 3px;

	border-top-left-radius: 3px;

	border-top-right-radius: 3px;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.pricing i {

	color: #d92618;

}

.pricing_top p {

	color: #fff;

	margin-bottom: 0;

	font-size: 40px;

	font-weight: bold;

}

.pricing ul {

	padding: 20px 0 0px 0;

	margin-top: -10px;

	line-height: 35px;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.pricing ul li {

	font-size: 13px;

	background: #fff;

	padding: 7px 0;

	margin: 1px 0 0 0;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.pricing ul li:hover {

	background: #d92618;

	color: #fff;

}

.pricing ul li:hover i {

	color: #fff;

}

.pricing li.pricing_order {

	padding: 0;

}

.pricing li.pricing_order a {

	font-size: 17px;

	color: #d92618;

	display: block;

	padding: 14px 0 !important;

}

.pricing ul li:hover a {

	color: #fff;

}

.pricing ul li:last-child {

	margin-bottom: 0;

}

.pricing_best .pricing_order a {

	background: #d92618;

	color: #fff;

}

.pricing_best .pricing_order:hover a {

	background: #000;

	color: #fff;

}

.pricing_ribbon {

	background: #222;

	overflow: hidden;

	position: absolute;

	right: -70px;

	top: 10px;

	-moz-transform: rotate(45deg);

	-webkit-transform: rotate(45deg);

	transform: rotate(45deg);

}

.pricing_ribbon p {

	text-transform: uppercase;

	color: #fff;

	display: block;

	margin: 0;

	padding: 5px 0;

	width: 200px;

	text-align: center;

	text-decoration: none;

}

/*******************************************************************************************************/

/* pagination */

/*******************************************************************************************************/



#pagination li {

	float: left;

	margin-right: 10px;

}

#pagination a {

	color: #fff;

	background: #0d0d0d;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

	padding: 8px 15px;

}

#pagination a.pagination-current {

	color: #fff;

	background: #d92618;

}

#pagination a:hover {

	color: #fff;

	background: #d92618;

}

/*******************************************************************************************************/

/* tabs - used for homepage's header */

/*******************************************************************************************************/





.tabs {

	width: 100%;

	display: inline-block;

}

.tab-links {

	border-top: 3px solid #dbdbdb;

	border-right: 3px solid #dbdbdb;

	width: 230px;

	float: left;

	display: inline-block;

}

.tab-links li {

	border-bottom: 3px solid #dbdbdb;

	width: 100%;

	padding: 0;

	float: left;

	list-style: none;

}

.tab-links li.active {

	border-right: 3px solid #ededed;

}

.tab-links li:last-child {

	margin-bottom: 0px;

}

.tab-links a {

	width: 100%;

	display: inline-block;

	text-transform: uppercase;

	font-size: 14px;

	padding: 40px 0;

	color: #000;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.tab-links a:hover {

	text-decoration: none;

	color: #d92618;

}

.tab-links i {

	color: #000;

	font-size: 30px;

	margin: 0 !important;

	padding: 0 30px 5px 0 !important;

	float: left;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.tab-links li a span {

	margin-left: -30px;

}

.tab-links li.active i {

	color: #d92618;

}

.tab-links li.active a, .tab-links li.active a:hover {

	color: #d92618;

}

.tab-content {

	text-align: center;

	float: right;

	width: 680px;

}

.tab {

	float: right;

	text-align: center;

	display: none;

}

.tab.active {

	display: block;

}

.tab-price {

	height: 230px;

	display: block;

	text-align: center;

}

.tab-price span {

	text-align: center;

	width: 140px;

	height: 100px;

	margin: -195px auto 0 auto;

	padding-top: 70px;

	display: block;

	font-size: 14px;

	color: #d92618;

}

.tab-price span em {

	display: block;

	font-weight: bold;

	font-size: 24px;

	color: #d92618;

}

.tab-price i {

	text-align: center;

	font-size: 220px;

	line-height: 160px;

	margin: 0 auto 0 auto;

}

.tab h1 {

	line-height: 40px;

	color: #d92618;

}

.tab h1, .tab p {

	text-align: center;

	margin-top: 0 !important;

	padding-bottom: 0 !important;

}

a.tab-button {

	margin: 40px auto 0;

	width: 150px;

	padding: 20px 10px;

	color: #d92618;

	display: block;

	font-size: 20px;

	text-transform: uppercase;

	text-align: center;

	background: transparent;

	border: 3px solid #d92618;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

a.tab-button:hover {

	background: #ff9900;

	color: #fff;

}

/*******************************************************************************************************/

/* tabs2 */

/*******************************************************************************************************/



.tabs_panel {

	  /* background: #222; */



  color: #888;

  /* min-height: 98px; */

  padding: 10px;

}

.tabs_panel p { /*color:#888;*/

	color: #d0d0d0;

}

.bgimg {

	background: url(../images/bgimg.jpg) !important;

	background-size: 100% 100% !important;

	background-repeat: no-repeat !important;

	  background-size: cover !important;

}

.tabs_panel .etabs {

	float: left;

	width: 100%;

	margin-bottom: 5px;

	padding: 0 0 0px 0;

	

}

.etabs:before{

border-top: 1px solid #000;}

.tabs_panel .etabs li {

	float: left;

	margin-right: 0px;

  margin-top: 0px;

    border-radius: 20px;

}

.tabs_panel .etabs i {

	color: #fff;

	margin-right: 0px;

}

.tabs_panel .tab {

	display: inline-block;

	zoom: 1;

 *display:inline;

	background: #005aab;

	color: #fff;

	

}



.tabs_panel .tab a {

	

	color: #fff;

	display: block;

	outline: medium none;

	padding: 8px 3px;

	width: 198px;

	 border-radius: 20px;

}

.tabs_panel .tab a:before {

  width: 0;

  height: 0;

  border-left: 15px solid transparent;

  border-right: 15px solid transparent;

  border-top: 15px solid #0098ff;

  margin: 35px 0 0 65px;}

  

.tabs_panel .tab a.active {

	color: #fff;

	background: #ff9900;

	 border-radius: 20px;

}

.tabs_panel .tab a.active i {

	color: #fff;

}

.tabs_panel .tab a:hover {

	background: #ff9900;

	 border-radius: 20px;

}

.tabs_panel .tab a:hover i {

	color: #fff;

}

.tabs_panel .tab-container > div {

	background: transparent;

	padding-top: 15px;

	border: none;

}

.tabs_panel h1 {

	font-size: 20px;

	padding: 0 0 0px 0;

	font-weight: normal;

	color: #01468F;

}

.tabs_panel h1 em {

	font-weight: bold;

}

.tabs_panel .tab-container div i {

	color: #d92618;

}

.tabs_panel .box_feature h6 {

	color: #fff;

}

.tabs_panel .box_feature .box_feature_icon span {

/*background: #0d0d0d;*/

}

/*******************************************************************************************************/

/* domains */

/*******************************************************************************************************/



.domains {

	   height: 50px;

    margin: 0 auto;

    width: 90%;

}

.domains input {

	background: #fff;

	font-family: 'Open Sans', sans-serif;

	border: none;

	font-size: 13px;

	padding: 0 7px 0 7px;

	height: 41px;

	width: 500px;

	color: #999;

	float: left;

	outline: none;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.domains select {

	background: #fff;

	font-family: 'Open Sans', sans-serif;

	border: none;

	font-size: 13px;

	text-indent: 10px;

	  padding: 10px 6px;

  vertical-align: middle;

  line-height: 37px;

	

	width: 150px;

	margin: 0 0 0 20px;

	color: #999;

	float: left;

	outline: none;

	-webkit-border-radius: 0;

	-moz-border-radius: 0;

	border-radius: 0;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.domains a.button {

	padding: 12px 40px !important;

	float: right;

	margin-bottom: 50px;

}

.domains h1 {

	margin-bottom: 0px;

	padding-bottom: 0px;

}

.domains ul li {

	background: #0d0d0d;

	display: block;

	float: left;

	color: #fff;

	width: auto;

	padding: 10px;

	margin: 30px 30px 0 0;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.domains ul li span {

	float: left;

	color: #d92618;

	font-weight: bold;

	padding-right: 10px;

	font-size: 24px;

}

/*******************************************************************************************************/

/* accordion / toggle */

/*******************************************************************************************************/



.ui-accordion {

	background: #fff;

	padding: 15px 20px;

	border: 1px solid #ededed;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.accordion_header {

	/*background: #0d0d0d;*/

	background: #d8d8d8;

	color: #2c2c2c;

	padding: 10px 15px !important;

	font-size: 14px;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.accordion_header i {

	color: #d92618;

	margin: 3px 5px 4px 5px !important;

	padding: 0 15px 0 0;

	min-height: 0; /* support: IE7 */

	outline: none;

	display: inline-block;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.ui-accordion .ui-accordion-header {

	display: block;

	cursor: pointer;

	position: relative;

	min-height: 0; /* support: IE7 */

	margin: 0;

	outline: none;

}

.ui-accordion-header-active .accordion_header span {

	color: #d92618 !important;

}

.ui-accordion .ui-accordion-icons {

	padding-left: 0px;

}

.ui-accordion .ui-accordion-noicons {

	padding-left: .7em;

}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {

	padding-left: 2.2em;

}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {

	position: absolute;

	left: .5em;

	top: 50%;

	margin-top: -8px;

}

.ui-accordion .ui-accordion-content {

	padding: 15px 20px 15px 20px;

	margin: 0;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.ui-accordion p {

	margin-bottom: 2px !important;

}

/*******************************************************************************************************/

/* testimonials */

/*******************************************************************************************************/



.testimonials_wrap {

	width: 100%;

	background: #fff;

	padding: 30px 0 50px 0;

	color: #fff;

	border: 1px solid #ededed;

	border-radius: 3px;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	  min-height: 319px;

}

.testimonials blockquote {

	text-align: center;

	width: auto;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.testimonials_img {

	height: 100px;

	width: 100px;

	margin-bottom: 20px;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.testimonials .icon-quote-left {

	color: #0d0d0d;

	padding-right: 20px;

}

.testimonials .icon-quote-right {

	color: #0d0d0d;

	padding-left: 20px;

}

.testimonials p {

	font-style: italic;

	margin: 0;

	padding: 0px 10px;

	color: #888;

}

.testimonials cite {

	display: block;

	margin-top: 20px;

	color: #d92618;

}

.testimonials p i {

	padding-right: 10px;

	color: #0d0d0d;

}

.testimonials_author {

	font-style: normal !important;

	padding-left: 0 !important;

}

/*******************************************************************************************************/

/* sidebar left & right */

/*******************************************************************************************************/



.sidebar-left {

	width: 270px;

	padding-right: 10px;

	border-right: 3px solid #ededed;

	float: left;

}

.sidebar-right {

	width: 200px;

	padding-left: 10px;

	border-left: 3px solid #ededed;

	float: right;

}

.content-left {

	width: 660px;

	float: left;

}

.content-right {

	float: left;

	margin-left: 45px;

	width: 660px;

}

.sidebar-left ul, .sidebar-right ul {

	border-top: 1px solid #ededed;

}

.sidebar-left ul li, .sidebar-right ul li {

	border-bottom: 1px solid #ededed;

	padding: 10px 0;

	color: #2c2c2c;

}

.sidebar-left ul li i, .sidebar-right ul li i {

	color: #d92618;

}

.sidebar-left .search, .sidebar-right .search {

	width: 158px;

}

.sidebar-left .search input, .sidebar-right .search input {

	width: 118px;

	padding-left: 30px;

}

.sidebar-left .heading, .sidebar-right .heading {

	margin: 0 0 30px 0;

}

/*******************************************************************************************************/

/* search */

/*******************************************************************************************************/



.search {

	border: 1px solid #ededed;

	background: #fff;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

	padding: 0px 20px;

	width: 200px;

}

.search input {

	background: #fff url("../images/search.png") no-repeat left center;

	border: none;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

	padding: 20px 30px;

	color: #999;

	outline: none;

}

/*******************************************************************************************************/

/* portfolio */

/*******************************************************************************************************/



.portfolio_one img, .portfolio_two img, .portfolio_three img, .portfolio_four img {

	max-width: 100%;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.portfolio_img {

	margin-bottom: 30px;

}

.blog_img {

	

	border-radius: 3px;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

}

.blog-post ul li {

	float: left;

	margin-right: 30px;

	margin-top: 10px;

	color: #2c2c2c;

	font-size: 13px;

}

.blog-post img {

	max-width: 100%;

}

/*******************************************************************************************************/

/* latest blog posts */

/*******************************************************************************************************/



.latest_post {

	background: #fff;

	border: 1px solid #ededed;

	padding: 15px 20px;

	float: left;

	padding-bottom: 25px;

	

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

	min-height: 358px;

}

.w32{ width:32% !important;}

.w31_7{ width:31.7% !important;}

.w31_8{   width: 31.2% !important;

  border: 1px solid #EAEAEA;

  padding-right: 5px;

  margin-bottom: 15px;

  background-color: #FCFCFC;

  /* min-height: 157px; */}

.latest_post img {

	float: left;

	width: 100%;

	height: auto;

	margin-bottom: 20px;

	/*border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;*/

}

.latest_post h6 {

	margin-bottom: 15px;

}

/*******************************************************************************************************/

/* comment */

/*******************************************************************************************************/



.comment {

	background: #fff;

	border: 1px solid #ededed;

	padding: 20px 30px;

	margin-bottom: 50px;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.comment i {

	font-size: 90px;

}

.comment-body {

	width: 480px;

	float: right;

}

.comment-details {

	border-top: 1px solid #ededed;

	padding-top: 20px;

	margin-top: 20px;

}

.comment-details i {

	font-size: inherit;

}

.comment-details ul li {

	float: left;

	margin-right: 30px;

	margin-top: 10px;

}

/*******************************************************************************************************/

/* reply */

/*******************************************************************************************************/



#reply input {

	font: inherit;

	width: 598px;

	color: #999;

	padding: 15px 30px;

	border: 1px solid #ededed;

	margin-bottom: 4px;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

#reply textarea {

	font: inherit;

	width: 598px;

	color: #999;

	padding: 15px 30px;

	margin-top: 2px;

	height: 150px;

	border: 1px solid #ededed;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

/*******************************************************************************************************/

/* employee */

/*******************************************************************************************************/



.employee img {

	width: 100%;

	border: none;

	border-radius: 50%;

	-moz-border-radius: 50%;

	-webkit-border-radius: 50%;

}

.employee {

	text-align: center;

}

.employee h5 {

	margin: 20px 0 0 0;

}

.employee i {

	font-size: 20px;

}

.employee a i {

	color: #999;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.employee a:hover i {

	color: #d92618;

}

/*******************************************************************************************************/

/* contactform */

/*******************************************************************************************************/



#contactform input#name, #contactform input#email {
 background: #fff none repeat scroll 0 0;
    border: 1px solid #837373;
    border-radius: 18px;
    color: black;
    float: left;
    font-family: inherit;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: 13px;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-bottom: 5px;
    outline: medium none;
    padding: 4px 14px;
    text-align: left;
    width: 61%;

}

table td{ padding-top: 7px;}

#contactform input#name:hover {

	box-shadow: inset 0px 0px 3px gray;

}

#contactform input#email:hover {

	box-shadow: inset 0px 0px 3px gray;

}

#contactform input.regfield, #contactform input.regfield {

	background: #fff;

	border: 1px solid #837373;

	padding: 15px 30px;

	float: left;

	color: #999;

	margin: 2px 0;

	font: inherit;

	text-align: left;

	outline: none;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

#contactform textarea {

	background: none repeat scroll 0 0 #fff;

	border: 1px solid #837373;

	border-radius: 5px;

	color: black;

	/*float: right;*/

	font: inherit;

	margin: 2px 0;

	outline: medium none;

	/*  padding: 7px 28px;*/

	width: 93%;

	text-align: left;

	font-size:13px;

}

#contactform textarea:hover {

	box-shadow: inset 0px 0px 3px gray;

}

#contactform input.button {

   background: #01468f none repeat scroll 0 0;
    border: medium none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin-left: 80px;
    outline: medium none;
    padding: 3px 26px;
    transition: all 200ms ease-in 0s;
	

}

#contactform input.button:hover {

	padding: 3px 26px;

	background: #6C3;

	color: #fff;

	border: none;

	

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

#contactform label {
  color: #222;
    float: left;
    margin-right: 0px;
	width:120px !important;
}

#contactform table {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-bottom: 20px;
    margin-right: 13px;
}

#contactform .success {

	background: #d92618;

	color: #fff;

	padding: 4px 4px 4px 10px;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

#contactform .error {

	background: #d92618;

	color: #fff;

	padding: 4px 4px 4px 10px;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

/*******************************************************************************************************/

/* footer */

/*******************************************************************************************************/

h5{line-height: 20px;}

.box_feature{ margin-bottom:15px; float:left;}



footer {

	background: #5E5E5E;

  color: #fff;

  float: left;

  font-size: 12px;

  width: 100%;

  padding-bottom:15px;

  border-top: 6px solid #2C2C2C;

}

footer i {

	color: #fff;

	font-size: 11px;

}

footer h3 {

	color: #fff;

  font-size: 14px;

  font-family: 'Open Sans', sans-serif;

  background-color: #4A4A4A;

  padding: 3px 10px;

  font-weight: normal !important;

}

footer h3 span {

	

}

footer ul li {

	color: #fff;

	padding: 0px;

	font-size: 12px;

}

footer ul li a {

	font-size: 13px;

	color: #fff;

	font-family: "Open Sans",sans-serif;

}

footer p {

	color: #fff;

	font-size: 12px;

	margin: 0;

}

footer a {

	color: #fff;

}

footer a:hover {

	color: #ff9900;

}

footer #footer_address li a {

	display: inline !important;

}

footer #footer_address li {

	padding: 3px 0;

	text-align: right;

}

footer #footer_address span {

	font-weight: bold;

	color: #fff;

	padding-right: 15px;

	float: left;

}

footer #footer_address i {

	color: #fff;

	font-size: 15px;

	float: left;

	margin-top: 5px;

	width: 20px;

}

.footer_nav {

	padding: 10px 10px 10px 10px;

}

/*******************************************************************************************************/

/* copyright panel */

/*******************************************************************************************************/



.copyright_panel {

	padding: 10px 0;

	border-top: 1px solid #fff;

	/*width:100%;*/



	border-radius: 3px;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

}

.copyright_panel p {

	margin: 0;

	color: #fff;

	font-size: 13px !important;

	;

}

/*******************************************************************************************************/

/* tweets */

/*******************************************************************************************************/



.tweets_panel {

	background: #fff;

	border: 1px solid #ededed;

	padding: 15px 0px;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.tweets i {

	vertical-align: middle;

	font-size: 14px;

	background: #d92618;

	color: #fff;

	padding: 4px 8px;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

	margin-right: 20px;

}

.tweets {

	width: 100%;

}

.tweets p {

	padding: 0 20px;

}

.tweets span {

	margin-right: 20px;

}

/*******************************************************************************************************/

/* carousel */

/*******************************************************************************************************/



.list_carousel {

	background: #f7f7f7;

	margin: 0;

	width: 980px;

}

.list_carousel ul {

	margin: 0;

	padding: 0;

	list-style: none;

	display: block;

	height: 100%;

}

.list_carousel li {

	color: #999;

	text-align: center;

	background: #fff;

	border: 1px solid #ededed;

	width: 222px;

	padding: 0;

	height: 60px;

	margin: 0 21px 0 0;

	display: block;

	float: left;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.list_carousel li img {

	padding-top: 10px;

	padding-bottom: 10px;

	vertical-align: middle;

}

.list_carousel.responsive {

	width: auto;

	margin-left: 0;

}

.clearfix {

	float: none;

	clear: both;

}

.prev, .next {

	display: none !important;

}

.unslider-arrow.prev, .unslider-arrow.next {

	display: block !important;

}

.prev {

	float: left;

	margin: 20px 0 0 0;

	font-size: 35px;

}

.next {

	float: right;

	margin: 20px 15px 0 0;

	font-size: 35px;

}

.prev i, .next i {

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.prev i:hover, .next i:hover {

	color: #000;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.pager {

	float: left;

	width: 300px;

	text-align: center;

}

.pager a {

	margin: 0 5px;

	text-decoration: none;

}

.pager a.selected {

	text-decoration: underline;

}

/*******************************************************************************************************/

/* statistics */

/*******************************************************************************************************/



.stats_wrap {

	text-align: center;

	background: #222;

	width: 100%;

	margin: 0;

	padding: 60px 0;

	color: #d92618;

}

.stats {

	margin: 0 auto;

	padding: 30px 0;

}

.stats p {

	margin-bottom: 20px;

	padding-bottom: 20px;

}

.stats p span {

	color: #d92618;

	font-size: 50px;

	border-bottom: 3px solid #333;

	padding-bottom: 15px;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.stats:hover p span {

	color: #fff;

}

.stats h5 {

	color: #d92618;

	font-weight: normal;

	margin: 0;

}

.stats h5 span {

	color: #fff;

	font-size: 40px;

	font-weight: bold;

}

/*******************************************************************************************************/

/* message */

/*******************************************************************************************************/



.message {

	background: #fff;

	border-top: 1px solid #ededed;

	border-bottom: 1px solid #ededed;

	padding: 50px 0 30px;

}

.message h1 {

	font-size: 20px;

	font-weight: normal;

	color: #d92618;

	text-transform: uppercase;

	float: left;

}

.message span {

	float: right;

	display: inline-block;

	vertical-align: middle;

}

/*******************************************************************************************************/

/* hosting features */

/*******************************************************************************************************/



.hosting_features {

	background: #fff;

	border: 1px solid #ededed;

	border-radius: 3px;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	  margin-bottom: 20px;

}

.hosting_features ul {

	padding: 0px 20px;

}

.hosting_features ul li {

	

  width: 33%;

  float: left;

    padding: 5px 0;

	  font-size: 14px;

}



.hosting_features i {

	font-size: 12px;

	padding-right: 15px;

	-webkit-transition: all 200ms ease-in;

	-o-transition: all 200ms ease-in;

	-moz-transition: all 200ms ease-in;

	transition: all 200ms ease-in;

}

.hosting_features ul li:hover i {

	color: #0d0d0d;

}

.hosting_features span {

	width: 15px;

	display: inline-block;

}

.bgcolor1 {

	background: #005aab;

}

.bgcolor {

	background: #222;

}

.filter ul li {

	background: #0d0d0d;

	display: block;

	float: left;

	color: #fff;

	width: auto;

	padding: 10px;

	margin: 30px 30px 0 0;

	border-radius: 20px;

	-moz-border-radius: 20px;

	-webkit-border-radius: 20px;

}

.filter span {

	float: left;

	display: block;

	color: #d92618;

	font-weight: bold;

	margin: 10px 10px 0 0;

	padding: 10px;

	font-size: 24px;

}

a.color {

	color: #005aab;

}

a.color:hover {

	color: #d92618;

}

.text_center {

	text-align: center !important;

}

table.checkouttable {

	text-align: center;

	border-bottom: 1px solid gray;

	border-left: 1px solid gray;

	border-right: 1px solid gray;

}

table.checkouttable th {

	background: #005aab;

	color: #fff;

	font-size: 18px;

}

table.checkouttable td {

	font-size: 16px;

	color: #000

}

.tbox {

	position: absolute;

	display: none;

	padding: 14px 17px;

	z-index: 900

}

.tinner {

	padding: 15px;

	-moz-border-radius: 5px;

	border-radius: 5px;

	background: #fff url(images/preload.gif) no-repeat 50% 50%;

	border-right: 1px solid #333;

	border-bottom: 1px solid #333

}

.tmask {

	position: absolute;

	display: none;

	top: 0px;

	left: 0px;

	height: 100%;

	width: 100%;

	background: #000;

	z-index: 800

}

.tclose {

	position: relative;

	top: -290px;

	z-index: 1000;

	float: right;

	width: 30px;

	height: 30px;

	cursor: pointer;

	background: url(../images/close2.png) no-repeat;

}

#error {

	background: #ff6969;

	color: #fff;

	text-shadow: 1px 1px #cf5454;

	border-right: 1px solid #000;

	border-bottom: 1px solid #000;

	padding: 0

}

#error .tcontent {

	padding: 10px 14px 11px;

	border: 1px solid #ffb8b8;

	-moz-border-radius: 5px;

	border-radius: 5px

}

#success {

	background: #2ea125;

	color: #fff;

	text-shadow: 1px 1px #1b6116;

	border-right: 1px solid #000;

	border-bottom: 1px solid #000;

	padding: 10;

	-moz-border-radius: 0;

	border-radius: 0

}

#bluemask {

	background: #4195aa

}

#frameless {

	padding: 0

}

#frameless .tclose {

	left: 6px

}

input.search {

	width: 124px;

	height: 38px;

	float: left;

	cursor: context-menu;

	margin-left: 30px;

	text-align: center;

	padding: 10px;

	color: white;

	font-size: 15px;

	cursor:pointer;

}

input.search {

	background: #01468f;

}

input.search:hover {

	background: #ff9900;

}

/* 10-oct-2014 price and dropdown menu */

.price1 {

	background-color: #E0E0E0;

	width: 83px;

	text-align: center;

	padding: 2px 0px;

	color: #d92618;

	font-weight: bold;

	border-radius: 3px;

	margin-top: 8px;

}

.aim {

	padding: 0px;

	margin: 0px;  margin-top: 45px;

  position: absolute;

  right: 275px;

}

.aim ul {

	text-align: left;

	display: inline;

	margin: 0;

	list-style: none;

}

.aim ul li {

	display: inline-block;

	margin-right: -4px;

	position: relative;

	padding: 8px 20px;

	cursor: pointer;

}

.aim ul li:hover {

	color: #fff;

}

.aim ul li ul {

	padding: 0;

	position: absolute;

	top: 38px;

	left: 0;

	width: 150px;

	box-shadow: none;

	display: none;

	opacity: 0;

	visibility: hidden;

	-webkit-transiton: opacity 0.2s;

	-moz-transition: opacity 0.2s;

	-ms-transition: opacity 0.2s;

	-o-transition: opacity 0.2s;

	-transition: opacity 0.2s;

}

.aim ul li ul li {

	background: #dddddd;

	display: block;

	color: #01468f;

	width: 120px;

	z-index: 9999;

}

.aim ul li ul li:hover {

	background: #D1D1D1;

}

.aim ul li:hover ul {

	display: block;

	opacity: 1;

	visibility: visible;

}

.blackcolortext p {

	color: black !important

}

a.top {

	height: 30px;

	width: 30px;

	  margin-top: -38px;

	background: url("http://www.orbisresearch.com/themes/frontend/images/top_1.png") no-repeat;

}

a.top:hover {

	height: 30px;

	width: 30px;

	background: url("http://www.orbisresearch.com/themes/frontend/images/top2.png") no-repeat;

}

.but {

	float: right;

	padding: 7px 20px !important;

	margin-top: -33px;

}

.fut_side {

	padding: 0px 20px;

}

.publisherimg {

	height: 290px;

	width: 268px;

}

.tabtext {

	padding: 10px 10px;

}

.textarea1 {

	float: left;

	width: 389px;

}

.reqsampleblock{

	   padding: 2%;

  border: 1px solid rgba(208, 208, 208, 0.76);

  margin-bottom: 20px;

  width: 96%;

  float: left;

  margin-bottom:15px;

  background-color: #FCFCFC;

}

.reqsampleblock p{

	   padding: 10px 0px 6px 0px;

  text-align: center;

}

.reqsampleblock .reqsamplebtn{

	  background-color: #6c3;

    border-radius: 20px;

    cursor: pointer;

    display: block;

    float: none !important;

    margin: 0 auto;

    width: 70%;

}

.reqsampleblock .reqsamplebtn:hover{

	  width: 85%;

  margin: 0 0px;

  display: block;

  background-color: #6C3;

  border-radius: 20px;

  cursor: pointer;

  float: left;

}



.enquirybox{

	border:1px solid rgba(208, 208, 208, 0.76); 

	padding: 2%;

  margin-bottom:15px;

  float:left;

  background-color: #FCFCFC;

}

.tab1{   background-color: #005aab;

    border-radius: 20px;

    color: rgb(255, 255, 255);

    padding: 9px 20px;

    width: 70%;

	}

.img_responsive{ width:100% !important;}

.selectbox{

	font-size: 13px;  width: 95% !important;

}

.categoryh3{ margin:10px 0px;}

.reportcatlist{

	 width: 45%;margin-top: 0%;

}

.reportcatlist1{

	 width: 50%;margin-top: 0%;

}



.marleftminus12{ margin-left:0%}

.ab ul li{float: left;

  margin-right: 10px;

  margin-top: 10px;

  color: #2c2c2c;

  font-size: 13px;

  padding: 8px 15px;

  background-color: #fff;

    border: 1px solid #EFEFEF;}



/*new styles for login and register stsrts here by------------------------------------------ shreyas*/

table.login_box{    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 30px;}


table.login_box td{padding:3% !important;}
h3.login_heading{  
    color: #000;
    font-size: 20px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
    width: 100%;
}



table.login_box td {
  padding-left: 0 !important;
    padding-top: 2% !important;
}



h3.register_heading{ 
    color: #333;
    font-size: 21px;
    margin-bottom: 0;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-top: 1%;
    text-align: left;
    width: 95%;
	border:1px solid #777;
}



 table.register_box{    width: 49%;
    float:left;
    background: white;
    padding: 30px;}


table.register_box td {
    padding-left: 10% !important;
    padding-top: 25px !important;
}



 @media (max-width: 640px){
	 table.register_box td {
    padding-left: 10px !important;

}
	 }
















	

	

