@media (max-width: 1152px) {
.wrap {
	width: 800px;
	margin: 0 auto;
}
.tab-content {
	width: 520px !important;
}
.list_carousel {
	width: 820px;
}
.pt55 {
	padding-top: 55px;
}
#contactform input#name,  #contactform input#email {
	width: 438px;
}
#contactform textarea {
	width: 438px;
}
#reply input {
	width: 438px;
}
#reply textarea {
	width: 438px;
}
iframe#google_map {
	width: 100%;
	height: 300px;
}
.portfolio_one img,  .portfolio_two img,  .portfolio_three img,  .portfolio_four img {
	max-width: 100%;
}
#slider .slide {
	width: 100%;
}
.bx-prev, .bx-prev:hover {
	top: 85%;
	left: 0px;
}
.bx-next, .bx-next:hover {
	top: 85%;
	right: 0px;
}
.content-left {
	width: 500px;
	float: left;
}
.content-right {
	width: 500px;
	float: right;
}
.comment-body {
	width: 330px;
	float: right;
}
#sequence .slide1 {
	width: 300px;
}
#sequence .slide2 {
	width: 300px;
	margin-left: 50px;
}
#sequence .slide3 {
	width: 300px;
}
#sequence .server1 {
	left: -350px;
	top: -520px;
}
#sequence .server2 {
	right: -350px;
	top: -520px;
}
#sequence .server3 {
	left: -350px;
	top: -520px;
}
#sequence .animate-in .server1 {
	left: 520px;
	top: 60px;
}
#sequence .animate-in .server2 {
	right: 520px;
	top: 60px;
	margin-left: 40px;
}
#sequence .animate-in .server3 {
	left: 520px;
	top: 60px;
}
.domains input {
	width: 345px;
}
.domains select {
	width: 150px;
}
.but {
	float: right;
	padding: 7px 20px !important;
	margin-top: -4%;
}
.fut_side {
	border-left: 1px solid #f6f6f6;
	padding: 0px 20px;
	height: 128px;
}
}
 @media (max-width: 920px) {
.wrap {
	width: 600px;
	margin: 0 auto;
}
.fut_side {
	border-left: 1px solid #f6f6f6;
	padding: 0px 20px;
	height: 128px;
}
.but {
	float: right;
	padding: 7px 20px !important;
	margin-top: -7%;
	margin-right: 2%;/*margin-top: -4%;*/
}
.pt55 {
	padding-top: 55px;
}
.tabs {
	float: none;
}
.tab-links {
	margin: 0 auto;
	padding-top: 85px;
	text-align: center;
	width: 100%;
	border: none;
	border-top: 3px solid #dbdbdb;
	float: none !important;
}
.tab-links li, .tab-links li.active {
	width: auto;
	padding: 0px !important;
	border: none;
	display: inline-block;
	float: none !important;
}
.tab-links li span {
	display: none;
}
.tab-links a {
	padding: 0;
	margin: 0;
}
.tab-links i {
	line-height: 0px !important;
	font-size: 38px;
	padding: 0 10px 10px !important;
	-webkit-padding-after: 0px !important;
}
.tab-content {
	width: 100% !important;
	padding-bottom: 90px;
}
.tab {
	width: 100% !important;
}
.list_carousel {
	width: 620px;
}
header#top {
	position: relative;
}
#slider_wrapper {
	margin-top: 0px;
	padding: 100px 0 75px;
}
#slider_wrapper2 {
	padding: 30px 0 30px 0;
}
#toggle i {
	display: block !important;
}
#logo {
	text-align: center;
}
#logo p {
	padding: 30px 0 10px 0;
	margin: 0 !important;
	float: none;
	border: 0;
	text-align: center;
}
#logo em {
	display: none;
}
#logo span {
	margin: 0 auto !important;
	float: none;
}
#phone {
	text-align: center;
	float: none;
	padding-bottom: 30px;
}
#nav ul,  #nav ul ul,  #nav ul ul ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	list-style: none;
	border: 0;
}
nav .selected, nav ul ul .selected {
	background: #fff !important;
	color: #000 !important;
	border-top: none !important;
	border-bottom: none !important;
}
nav ul ul li {
	border: none;
	padding: 0 !important;
	margin: 0 !important;
	width: 180px;
	background: #fff !important;
}
nav ul ul ul {
	border-top: 0 !important;
}
nav ul ul li:hover {
	border-top: none;
}
nav ul ul li:last-child {
	border-bottom: none;
}
nav ul ul a {
	background: #fff;
	margin-left: 0;
	border: none;
	padding: 10px 30px !important;
}
#nav li,  #nav li li,  #nav li li li {
	width: 100%;
	display: block;
	padding: 0px 0 !important;
}
#nav a {
	border-bottom: 1px solid #6e2929;
	color: #000;
	font-size: 14px;
	-webkit-transition: none !important;
	-o-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}
#nav ul li a {
	padding: 10px 0px;
	border: none !important;
}
#nav ul li a:hover {
	color: #000;
	border: none !important;
}
.js #nav {
	clip: rect(0 0 0 0);
	max-height: 0;
	position: relative;
	display: block;
	overflow: hidden;
	zoom: 1;
}
#nav.opened {
	max-height: 9999px;
}
nav ul ul,  nav ul ul ul {
	position: relative !important;
	margin: 0;
	top: 0;
	left: 0;
	display: block !important;
	box-shadow: none;
	border-bottom: none !important;
}
nav ul ul li a:hover,  nav ul ul ul li a:hover {
	background: transparent;
	color: #888 !important;
}
#nav ul ul li {
	width: 100%;
}
#nav ul ul ul {
	width: 100% !important;
	position: relative !important;
	top: 0;
	left: 0;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border-bottom: none;
}
#nav ul ul ul li {
	width: 100% !important;
	padding: 0px 0 !important;
	display: block !important;
}
#nav ul ul ul li a {
	display: block !important;
}
#nav ul li a span {
	display: none !important;
}
#nav > ul {
	margin-top: 20px !important;
	padding-bottom: 20px;
}
#nav {
	margin: 10px auto 0 auto;
	padding: 0px 0 20px 0;
	width: 100% !important;
	text-align: center;
}
#contactform input#name,  #contactform input#email {
	width: 538px;
}
#contactform textarea {
	width: 538px;
}
#reply input {
	width: 538px;
}
#reply textarea {
	width: 538px;
}
iframe#google_map {
	width: 100%;
	height: 300px;
}
.employee img {
	width: 50%;
}
.portfolio_one img,  .portfolio_two img,  .portfolio_three img,  .portfolio_four img {
	max-width: 100%;
}
.pricing {
	margin-bottom: 60px;
}
.pricing:last-child {
	margin-bottom: 0px;
}
.pricing h4 {
	margin-top: 0px !important;
}
.one_half,  .one_third,  .one_fourth,  .one_fifth,  .two_thirds,  .last {
	margin-bottom: 30px;
	width: 100%;
}
.last {
	margin-bottom: 0px;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
}
#slider .slide {
	width: 100%;
}
.bx-prev, .bx-prev:hover {
	top: 85%;
	left: 0px;
}
.bx-next, .bx-next:hover {
	top: 85%;
	right: 0px;
}
.sidebar-left {
	width: 100%;
	float: left;
	padding-right: 0;
	border: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.sidebar-right {
	width: 100%;
	float: left;
	padding-left: 0;
	border: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.content-left {
	width: 100%;
	float: left;
}
.content-right {
	width: 100%;
	float: left;
}
.comment-body {
	width: 430px;
	float: right;
}
#sequence .slide1 {
	width: 250px;
	margin-left: -30px;
}
#sequence .slide2 {
	width: 250px;
	margin-top: -30px;
	margin-left: -50px;
}
#sequence .slide3 {
	width: 250px;
	margin-left: -30px;
}
#sequence .server1 {
	left: -350px;
	top: -420px;
}
#sequence .server2 {
	right: -350px;
	top: -420px;
}
#sequence .server3 {
	left: -350px;
	top: -420px;
}
#sequence .animate-in .server1 {
	left: 400px;
	top: 60px;
}
#sequence .animate-in .server2 {
	left: 0px;
	top: 60px;
}
#sequence .animate-in .server3 {
	left: 400px;
	top: 60px;
}
.sequence-prev, .sequence-prev:hover {
	top: 90%;
	left: 45%;
}
.sequence-next, .sequence-next:hover {
	top: 90%;
	right: 45%;
}
.unslider-arrow.prev, .unslider-arrow.prev:hover {
	top: 12%;
	left: 45%;
}
.unslider-arrow.next, .unslider-arrow.next:hover {
	top: 12%;
	right: 45%;
}
.top_area li {/* width:600px;*/
	width: 500px;
	text-align: center;
}
.top_area .social {
	padding-top: 30px;
	text-align: center !important;
	float: none !important;
}
.top_area .social li {
	width: auto;
	display: inline-block;
	float: none !important;
}
.top_area #top_area_links {
	padding: 30px 0;
}
.domains input {
	width: 325px;
	margin-bottom: 8px;
}
.domains select {
	width: 150px;
}
.domains a.button {
	float: left;
	margin-top: 30px;
}
.message span {
	float: left;
	display: block;
	padding: 20px 0 40px 0;
}
.heading {
	margin-bottom: 30px;
}
.latest_posts .one_half:last-child {
	margin-bottom: 70px;
}
.copyright_panel {
	border-top: none;
}

.marbot{ margin-bottom:0px !important}
.blog_img{margin-bottom:0px !important}
.reqsampleblock{
	  
	 height:150px; 
	 
}
.reqsampleblock .reqsamplebtn{
	width: 25%;
  margin: 0 30%;	 
}


}
 @media (max-width: 700px) {
.wrap {
	width: 430px;
	margin: 0 auto;
}
.tabs {
	float: none;
}
.tab-links {
	margin: 0 auto;
	padding-top: 85px;
	text-align: center;
	width: 100%;
	border: none;
	border-top: 3px solid #dbdbdb;
	float: none !important;
}
.tab-links li, .tab-links li.active {
	width: auto;
	padding: 0px !important;
	border: none;
	display: inline-block;
	float: none !important;
}
.tab-links li span {
	display: none;
}
.tab-links a {
	padding: 0;
	margin: 0;
}
.tab-links i {
	line-height: 0px !important;
	font-size: 38px;
	padding: 0 10px 10px !important;
	-webkit-padding-after: 0px !important;
}
.tab-content {
	width: 100% !important;
	padding-bottom: 90px;
}
.tab {
	width: 100% !important;
}
.list_carousel {
	width: 450px;
}
header#top {
	position: relative;
}
.box_feature {
	margin-bottom: 50px;
}
#slider_wrapper {
	margin-top: 0px;
	padding: 100px 0 75px 0;
}
#slider_wrapper2 {
	padding: 30px 0 30px 0;
}
#toggle i {
	display: block !important;
}
#logo {
	text-align: center;
}
#logo p {
	padding: 30px 0 10px 0;
	margin: 0 !important;
	float: none;
	border: 0;
	text-align: center;
}
#logo em {
	display: none;
}
#logo span {
	margin: 0 auto !important;
	float: none;
}
#phone {
	text-align: center;
	float: none;
	padding-bottom: 30px;
}
#nav ul,  #nav ul ul,  #nav ul ul ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	list-style: none;
	border: 0;
}
nav .selected {
	background: #fff !important;
	color: #000 !important;
	border-top: none !important;
	border-bottom: none !important;
}
nav ul ul li {
	border: none;
	padding: 0 !important;
	margin: 0 !important;
	width: 180px;
	background: #fff !important;
}
nav ul ul ul {
	border-top: 0 !important;
}
nav ul ul li:hover {
	border-top: none;
}
nav ul ul li:last-child {
	border-bottom: none;
}
nav ul ul a {
	background: #fff;
	margin-left: 0;
	border: none;
	padding: 10px 30px !important;
}
#nav li,  #nav li li,  #nav li li li {
	width: 100%;
	display: block;
	padding: 0px 0 !important;
}
#nav a {
	border-bottom: 1px solid #6e2929;
	color: #000;
	font-size: 14px;
	-webkit-transition: none !important;
	-o-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}
#nav ul li a {
	padding: 10px 0px;
	border: none !important;
}
#nav ul li a:hover {
	color: #000;
	border: none !important;
}
.js #nav {
	clip: rect(0 0 0 0);
	max-height: 0;
	position: relative;
	display: block;
	overflow: hidden;
	zoom: 1;
}
#nav.opened {
	max-height: 9999px;
}
nav ul ul,  nav ul ul ul {
	position: relative !important;
	margin: 0;
	top: 0;
	left: 0;
	display: block !important;
	box-shadow: none;
	border-bottom: none !important;
}
nav ul ul li a:hover,  nav ul ul ul li a:hover {
	background: transparent;
	color: #888 !important;
}
#nav ul ul li {
	width: 100%;
}
#nav ul ul ul {
	width: 100% !important;
	position: relative !important;
	top: 0;
	left: 0;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border-bottom: none;
}
#nav ul ul ul li {
	width: 100% !important;
	padding: 0px 0 !important;
	display: block !important;
}
#nav ul ul ul li a {
	display: block !important;
}
#nav ul li a span {
	display: none !important;
}
#nav > ul {
	margin-top: 20px !important;
	padding-bottom: 20px;
}
#nav {
	margin: 10px auto 0 auto;
	padding: 0px 0 20px 0;
	width: 100% !important;
	text-align: center;
}
#contactform input#name,  #contactform input#email {
	width: 368px;
}
#contactform textarea {
	width: 368px;
}
#reply input {
	width: 368px;
}
#reply textarea {
	width: 368px;
}
iframe#google_map {
	width: 100%;
	height: 250px;
}
.employee img {
	width: 50%;
}
.portfolio_one img,  .portfolio_two img,  .portfolio_three img,  .portfolio_four img {
	max-width: 100%;
}
.pricing {
	margin-bottom: 60px;
}
.pricing:last-child {
	margin-bottom: 0px;
}
.pricing h4 {
	margin-top: 0px !important;
}
.one_half,  .one_third,  .one_fourth,  .one_fifth,  .two_thirds,  .last {
	margin-bottom: 30px;
	width: 100%
}
.last {
	margin-bottom: 0px;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
}
.box_feature h4 {
	margin-top: -35px !important;
}
#slider .slide {
	width: 100%;
}
.bx-prev, .bx-prev:hover {
	top: 85%;
	left: 0px;
}
.bx-next, .bx-next:hover {
	top: 85%;
	right: 0px;
}
.sidebar-left {
	width: 100%;
	float: left;
	padding-right: 0;
	border: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.sidebar-right {
	width: 100%;
	float: left;
	padding-left: 0;
	border: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.content-left {
	width: 100%;
	float: left;
}
.content-right {
	width: 100%;
	float: left;
}
.comment-body {
	width: 260px;
	float: right;
}
#sequence-theme, #sequence {
	height: 300px;
}
#sequence .slide1 {
	width: 200px;
	margin-left: 110px;
	margin-top: -100px;
}
#sequence .slide2 {
	width: 200px;
	margin-left: -240px;
	margin-top: -120px;
}
#sequence .slide3 {
	width: 200px;
	margin-left: 110px;
	margin-top: -120px;
}
#sequence .server1 {
	display: none;
}
#sequence .server2 {
	display: none;
}
#sequence .server3 {
	display: none;
}
.sequence-prev, .sequence-prev:hover {
	top: 80%;
	left: 45%;
}
.sequence-next, .sequence-next:hover {
	top: 80%;
	right: 45%;
}
.unslider p {
	width: 430px;
	margin: 0 auto;
}
.unslider-arrow.prev, .unslider-arrow.prev:hover {
	top: 12%;
	left: 45%;
}
.unslider-arrow.next, .unslider-arrow.next:hover {
	top: 12%;
	right: 45%;
}
.top_area li {/* width:430px;*/
	width: 340px;
	text-align: center;
}
.top_area .social {
	text-align: center !important;
	float: none !important;
}
.top_area .social li {
	width: auto;
	display: inline-block;
	float: none !important;
}
footer .alignleft,  footer .alignright {
	width: 430px;
	text-align: center !important;
	float: none !important;
}
.domains input {
	width: 215px;
	margin: 5px;
}
.domains select {
	width: 120px;
	padding: 15px;
	margin-left: 20px;
	margin-top: 8px
}
.domains a.button {
	float: left;
	margin-top: 30px;
}
.message span {
	float: left;
	display: block;
	padding: 20px 0 40px 0;
}
.copyright_panel {
	border-top: none;
}
.but {
	float: right;
	padding: 7px 20px !important; /*margin-top: -38px;*/
	margin-top: -45px;
	margin-right: 10px;
}

.marbot{ margin-bottom:0px !important}
.blog_img{margin-bottom:0px !important}
.reqsampleblock{
	  
	 height:200px; 
	 
}
.reqsampleblock .reqsamplebtn{
	width:65%; 
	margin:0 10px;	 
}

}
 @media (max-width: 520px) {
.wrap {
	/*width:444px;*/width: 370px;
	margin: 0 auto;
}
.but12 {
	width: 54% !important;
	margin: 27px 0 0 41px !important;
	display: block;
	float: left !important;
	font-weight: 700;
	background-color: #F90 !important;
	border-radius: 22px;
}
.pt55 {
	padding-top: 0px;
}
.tabs {
	float: none;
}
.tab-links {
	margin: 0 auto;
	padding-top: 85px;
	text-align: center;
	width: 100%;
	border: none;
	border-top: 3px solid #dbdbdb;
	float: none !important;
}
.tab-links li, .tab-links li.active {
	width: auto;
	padding: 0px !important;
	border: none;
	display: inline-block;
	float: none !important;
}
.tab-links li span {
	display: none;
}
.tab-links a {
	padding: 0;
	margin: 0;
}
.tab-links i {
	line-height: 0px !important;
	font-size: 38px;
	padding: 0 10px 10px !important;
	-webkit-padding-after: 0px !important;
}
.tab-content {
	width: 100% !important;
	padding-bottom: 90px;
}
.tab {
	width: 100% !important;
}
.list_carousel {
	width: 320px;
}
.box_feature {
	margin-bottom: 50px;
}
header#top {
	position: relative;
}
#slider_wrapper {
	margin-top: 0px;
	padding: 100px 0 75px 0;
}
#slider_wrapper2 {
	padding: 30px 0 30px 0;
}
#toggle i {
	display: block !important;
}
#logo {
	text-align: center;
}
#logo p {
	padding: 30px 0 10px 0;
	margin: 0 !important;
	float: none;
	border: 0;
	text-align: center;
}
#logo em {
	display: none;
}
#logo span {
	margin: 0 auto !important;
	float: none;
}
#phone {
	text-align: center;
	float: none;
	padding-bottom: 30px;
}
#nav ul,  #nav ul ul,  #nav ul ul ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	list-style: none;
	border: 0;
}
nav .selected {
	background: #fff !important;
	color: #000 !important;
	border-top: none !important;
	border-bottom: none !important;
}
nav ul ul li {
	border: none;
	padding: 0 !important;
	margin: 0 !important;
	width: 180px;
	background: #fff !important;
}
nav ul ul ul {
	border-top: 0 !important;
}
nav ul ul li:hover {
	border-top: none;
}
nav ul ul li:last-child {
	border-bottom: none;
}
nav ul ul a {
	background: #fff;
	margin-left: 0;
	border: none;
	padding: 10px 30px !important;
}
#nav li,  #nav li li,  #nav li li li {
	width: 100%;
	display: block;
	padding: 0px 0 !important;
}
#nav a {
	border-bottom: 1px solid #6e2929;
	color: #000;
	font-size: 14px;
	-webkit-transition: none !important;
	-o-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}
#nav ul li a {
	padding: 10px 0px;
	border: none !important;
}
#nav ul li a:hover {
	color: #000;
	border: none !important;
}
.js #nav {
	clip: rect(0 0 0 0);
	max-height: 0;
	position: relative;
	display: block;
	overflow: hidden;
	zoom: 1;
}
#nav.opened {
	max-height: 9999px;
}
nav ul ul,  nav ul ul ul {
	position: relative !important;
	margin: 0;
	top: 0;
	left: 0;
	display: block !important;
	box-shadow: none;
	border-bottom: none !important;
}
nav ul ul li a:hover,  nav ul ul ul li a:hover {
	background: transparent;
	color: #888 !important;
}
#nav ul ul li {
	width: 100%;
}
#nav ul ul ul {
	width: 100% !important;
	position: relative !important;
	top: 0;
	left: 0;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border-bottom: none;
}
#nav ul ul ul li {
	width: 100% !important;
	padding: 0px 0 !important;
	display: block !important;
}
#nav ul ul ul li a {
	display: block !important;
}
#nav ul li a span {
	display: none !important;
}
#nav > ul {
	margin-top: 20px !important;
	padding-bottom: 20px;
}
#nav {
	margin: 10px auto 0 auto;
	padding: 0px 0 20px 0;
	width: 100% !important;
	text-align: center;
}
#contactform input#name,  #contactform input#email {
	width: 238px;
}
#contactform textarea {
	width: 238px;
}
#reply input {
	width: 238px;
}
#reply textarea {
	width: 238px;
}
iframe#google_map {
	width: 100%;
	height: 200px;
}
.employee img {
	width: 50%;
}
.portfolio_one img,  .portfolio_two img,  .portfolio_three img,  .portfolio_four img {
	max-width: 100%;
}
.pricing {
	margin-bottom: 60px;
}
.pricing:last-child {
	margin-bottom: 0px;
}
.pricing h4 {
	margin-top: 0px !important;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}
.box_feature h4 {
	margin-top: -35px !important;
}
.one_half,  .one_third,  .one_fourth,  .one_fifth,  .two_thirds,  .last {
	width: 100%;
	margin-bottom: 15px;
}
.last {
	margin-bottom: 0px;
}
#slider .slide {
	width: 100%;
}
#slider .slide h1 {
	line-height: 40px;
}
.bx-prev, .bx-prev:hover {
	top: 90%;
	left: 0px;
}
.bx-next, .bx-next:hover {
	top: 90%;
	right: 0px;
}
.sidebar-left {
	width: 100%;
	float: left;
	padding-right: 0;
	border: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.sidebar-right {
	width: 100%;
	float: left;
	padding-left: 0;
	border: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.content-left {
	width: 100%;
	float: left;
}
.content-right {
	width: 100%;
	float: left;
}
.comment-body {
	margin-top: 20px;
	width: 100%;
	float: right;
}
#sequence .slide1 {
	width: 200px;
	margin-left: 30px;
	margin-top: -100px;
}
#sequence .slide2 {
	width: 200px;
	margin-left: -320px;
	margin-top: -120px;
}
#sequence .slide3 {
	width: 200px;
	margin-left: 30px;
	margin-top: -120px;
}
#sequence .server1 {
	display: none;
}
#sequence .server2 {
	display: none;
}
#sequence .server3 {
	display: none;
}
.unslider p {
	width: 80px;
	margin: 0 auto;
}
.unslider-arrow.prev, .unslider-arrow.prev:hover {
	top: 12%;
	left: 40%;
}
.unslider-arrow.next, .unslider-arrow.next:hover {
	top: 12%;
	right: 40%;
}
.top_area li { /*width:300px;*/
	width: 350px;
	text-align: center;
}
.top_area .social {
	text-align: center !important;
	float: none !important;
}
.top_area .social li {
	width: auto;
	display: inline-block;
	float: none !important;
}
footer .alignleft,  footer .alignright {
	width: 286px;
	text-align: center !important;
	float: none !important;
}
.domains input {
	width: 286px;
}
.domains input[type=submit] {
	width: 300px;
	margin-left: 0px !important;
	margin: 15px 0 !important;
}
.domains select {
	width: 300px;
	padding: 15px 5px;
	margin-top: 30px;
	margin-left: 0px;
	float: left;
}
.domains a.button {
	float: left;
	margin-top: 30px;
}
.message span {
	float: left;
	display: block;
	padding: 20px 0 40px 0;
}
.but {
	float: right;
	padding: 7px 20px !important; /*margin-top: -38px;*/
	margin-top: -45px;
	margin-right: 10px;
}
.fut_side {
	border-left: 1px solid #f6f6f6;
	padding: 0px 20px;
	height: 128px;
}
#container .pagination {
	height: 50px !important;
}

.selectbox{
	width: 76%;
}
.marbot{ margin-bottom:0px !important}
.blog_img{margin-bottom:0px !important}

}
 @media (max-width: 320px) {
.domains select {
	width: 188px !important;
	padding: 15px 5px;
	margin-top: 30px;
	margin-left: 0px;
	float: left;
}
.domains input[type=submit] {
	width: 187px !important;
	margin-left: 0px !important;
	margin: 15px 0 !important;
}
.but12 {
	width: 54% !important;
	margin: 27px 0 0 41px !important;
	display: block;
	float: left !important;
	font-weight: 700;
	background-color: #F90 !important;
	border-radius: 22px;
}
}
 @media (max-width: 400px) {
.wrap {
	/*width:250px;*/width: 220px;
	margin: 0 auto;
}
.tabs {
	float: none;
}
.tab-links {
	margin: 0 auto;
	padding-top: 85px;
	text-align: center;
	width: 100%;
	border: none;
	border-top: 3px solid #dbdbdb;
	float: none !important;
}
.tab-links li, .tab-links li.active {
	width: auto;
	padding: 0px !important;
	border: none;
	display: inline-block;
	float: none !important;
}
.tab-links li span {
	display: none;
}
.tab-links a {
	padding: 0;
	margin: 0;
}
.tab-links i {
	line-height: 0px !important;
	font-size: 38px;
	padding: 0 10px 10px !important;
	-webkit-padding-after: 0px !important;
}
.tab-content {
	width: 100% !important;
	padding-bottom: 90px;
}
.tab {
	width: 100% !important;
}
.list_carousel {
	width: 270px;
}
header#top {
	position: relative;
}
#slider_wrapper {
	margin-top: 0px;
	padding: 100px 0 75px 0;
}
#slider_wrapper2 {
	padding: 30px 0 30px 0;
}
#toggle i {
	display: block !important;
}
#logo {
	text-align: center;
}
#logo p {
	padding: 30px 0 10px 0;
	margin: 0 !important;
	float: none;
	border: 0;
	text-align: center;
}
#logo em {
	display: none;
}
#logo span {
	margin: 0 auto !important;
	float: none;
}
#phone {
	text-align: center;
	float: none;
	padding-bottom: 30px;
}
#nav ul,  #nav ul ul,  #nav ul ul ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	list-style: none;
	border: 0;
}
nav .selected {
	background: #fff !important;
	color: #000 !important;
	border-top: none !important;
	border-bottom: none !important;
}
nav ul ul li {
	border: none;
	padding: 0 !important;
	margin: 0 !important;
	width: 180px;
	background: #fff !important;
}
nav ul ul ul {
	border-top: 0 !important;
}
nav ul ul li:hover {
	border-top: none;
}
nav ul ul li:last-child {
	border-bottom: none;
}
nav ul ul a {
	background: #fff;
	margin-left: 0;
	border: none;
	padding: 10px 30px !important;
}
#nav li,  #nav li li,  #nav li li li {
	width: 100%;
	display: block;
	padding: 0px 0 !important;
}
#nav a {
	border-bottom: 1px solid #6e2929;
	color: #000;
	font-size: 14px;
	-webkit-transition: none !important;
	-o-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}
#nav ul li a {
	padding: 10px 0px;
	border: none !important;
}
#nav ul li a:hover {
	color: #000;
	border: none !important;
}
.js #nav {
	clip: rect(0 0 0 0);
	max-height: 0;
	position: relative;
	display: block;
	overflow: hidden;
	zoom: 1;
}
#nav.opened {
	max-height: 9999px;
}
nav ul ul,  nav ul ul ul {
	position: relative !important;
	margin: 0;
	top: 0;
	left: 0;
	display: block !important;
	box-shadow: none;
	border-bottom: none !important;
}
nav ul ul li a:hover,  nav ul ul ul li a:hover {
	background: transparent;
	color: #888 !important;
}
#nav ul ul li {
	width: 100%;
}
#nav ul ul ul {
	width: 100% !important;
	position: relative !important;
	top: 0;
	left: 0;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border-bottom: none;
}
#nav ul ul ul li {
	width: 100% !important;
	padding: 0px 0 !important;
	display: block !important;
}
#nav ul ul ul li a {
	display: block !important;
}
#nav ul li a span {
	display: none !important;
}
#nav > ul {
	margin-top: 20px !important;
	padding-bottom: 20px;
}
#nav {
	margin: 10px auto 0 auto;
	padding: 0px 0 20px 0;
	width: 100% !important;
	text-align: center;
}
#contactform input#name,  #contactform input#email {
	width: 188px;
}
#contactform textarea#message {
	width: 188px;
}
#reply input {
	width: 188px;
}
#reply textarea {
	width: 188px;
}
iframe#google_map {
	width: 100%;
	height: 200px;
}
.employee img {
	width: 50%;
}
.portfolio_one img,  .portfolio_two img,  .portfolio_three img,  .portfolio_four img {
	max-width: 100%;
}
.pricing {
	margin-bottom: 60px;
}
.pricing:last-child {
	margin-bottom: 0px;
}
.pricing h4 {
	margin-top: 0px !important;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
}
.box_feature h4 {
	margin-top: -35px !important;
}
.one_half,  .one_third,  .one_fourth,  .one_fifth,  .two_thirds,  .last {
	width: 100% !important;
	margin-bottom: 30px;
}
.last {
	margin-bottom: 0px;
}
#slider .slide {
	width: 100%;
}
#slider .slide h1 {
	line-height: 40px;
}
.bx-prev, .bx-prev:hover {
	top: 90%;
	left: 0px;
}
.bx-next, .bx-next:hover {
	top: 90%;
	right: 0px;
}
.sidebar-left {
	width: 100%;
	float: left;
	padding-right: 0;
	border: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.sidebar-right {
	width: 100%;
	float: left;
	padding-left: 0;
	border: none;
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.content-left {
	width: 100%;
	float: left;
}
.content-right {
	width: 100%;
	float: left;
}
.comment-body {
	margin-top: 20px;
	width: 100%;
	float: right;
}
.box_feature h4 {
	margin-top: 0px !important;
}
#sequence .slide1 {
	width: 200px;
	margin-left: -30px;
	margin-top: -100px;
}
#sequence .slide2 {
	width: 200px;
	margin-left: -380px;
	margin-top: -120px;
}
#sequence .slide3 {
	width: 200px;
	margin-left: -30px;
	margin-top: -120px;
}
#sequence .server1 {
	display: none;
}
#sequence .server2 {
	display: none;
}
#sequence .server3 {
	display: none;
}
.sequence-prev, .sequence-prev:hover {
	top: 80%;
	left: 40%;
}
.sequence-next, .sequence-next:hover {
	top: 80%;
	right: 40%;
}
.unslider p {
	width: 250px;
	margin: 0 auto;
}
.unslider-arrow.prev, .unslider-arrow.prev:hover {
	top: 12%;
	left: 35%;
}
.unslider-arrow.next, .unslider-arrow.next:hover {
	top: 12%;
	right: 35%;
}
.top_area li { /*width:250px;*/
	width: 160px;
	text-align: center;
}
.top_area .social {
	text-align: center !important;
	float: none !important;
}
.top_area .social li {
	width: auto;
	display: inline-block;
	float: none !important;
}
footer .alignleft,  footer .alignright {
	width: 250px;
	text-align: center;
}
.domains input {
	width: 175px;
}
.domains select {
	width: 250px;
	padding: 15px 5px;
	margin-top: 30px;
	margin-left: 0px;
	float: left;
}
.domains a.button {
	float: left;
	margin-top: 30px;
}
.message span {
	float: left;
	display: block;
	padding: 20px 0 40px 0;
}
.publisherimg {
	height: 240px;
	width: 200px;
}

.reqsampleblock{
	  
	 height:200px; 
	 
}
.reqsampleblock .reqsamplebtn{
	width:65%; 
	margin:0 10px;	 
}
.marbot{ margin-bottom:0px !important}
.blog_img{margin-bottom:0px !important}

}
