#rotating-item-wrapper {
	position: relative;
	width: 100%;
	height:auto;
}
.rotating-item {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

/*new styles for login and register stsrts here by------------------------------------------ shreyas*/

table.login_box{width:50%; margin:0 auto; background:green; padding:30px;}
table.login_box td{padding:3% !important;}
h3.login_heading{text-align: center;}
