@charset "utf-8";


/**************** home page ***********************/

.topphonenumber{
	color: rgb(255, 255, 255); margin-top: 16px; display: inline-block; text-decoration: none; font-weight:400;
	}
.topphonenumber:hover{ color:#fff; text-decoration:none;}



.searchkeywordform {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    display: inline-block;
    margin-top: 15px;
    padding: 15px;
    width: auto;
}
.searchkeywordform #SearchKeyword{
	  color: black;
    height: 40px;
    margin-right: 10px;
    width: 255px;
	}
.searchkeywordform #category{
	  color: #adadad;
    height: 40px;
    padding-left: 10px;
	}	
	
.searchkeywordform #searchkeybutton{
   color: #fff;
    height: 40px;
    margin-left: 10px;
    text-transform: uppercase;
	}	
	
.footerSocialicons a{
	    border: 1px solid #fff !important;
    padding-left: 0 !important;
	}	
.footerSocialicons a:hover{
     color:#fff !important;	
	}	
.footeremailus a{
  border: medium none !important;
    padding-left: 5px !important;
	}	
	
	
		
/**************client section*****************/
.ourClient{
	
	}
.ourClient .section-title{
    background: #c73025 none repeat scroll 0 0;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 26px 19px;
    position: relative;
	}
.ourClient .section-title:after{
	   border-bottom: 16px solid transparent;
    border-left: 16px solid #c73025;
    border-top: 16px solid transparent;
    content: "";
    position: absolute;
    right: -16px;
    top: 22px;
	}	
	
.ourClient .section-title::first-letter {
    color: #fff;
}
	
/**************client section ends ****************/	

	
/**************Category section*****************/

.popularCatagory{
   height: auto;
    overflow: hidden;
    padding: 0;	
	}	
.popularReports{
	   height: auto;
    overflow: hidden;
    padding: 0;	
	}	
.latestNews{
	   height: auto;
    overflow: hidden;
    padding: 0;	
	}
	
.popularCatagory .media a,.popularReports .media a,.latestNews .media a{
	padding-top:0px;
	}		
.popularCatagory .media-heading,.popularReports .media-heading,.latestNews .media-heading{
	font-size:16px;
	}
.popularCatagory .media-body small,.popularReports .media-body small,.latestNews .media-body small{
	font-size:14px;
	}
		
/**************Category section ends *****************/		
		

	
	


.pressRelease{
	
	}		
		
.pressReleaseImg{
	    background: #fff;
    height: 175px;
    overflow: hidden;
	}	
.pressReleaseContent{
	
	}	
	
.pressReleaseContent h4{
	   margin-top: 0px;
    margin-bottom: 10px;
	}	
.pressReleaseContent p{
	
	}	
.pressReleaseContent p i{
	
	}
	
	
	
	
	
	
	
/************** inner pages ******************/	
	
.innerpages_serchheader{
	  background-attachment: fixed;
    background-image: url("../img/banner4.jpg");
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin-bottom: 0;
    min-height: 125px;
    padding: 40px 0 30px;
	}	
	
	.SearchQueryBox{
		   margin: 0 auto;
    width: 50%;
		}	
	.SearchQueryBox .form-group{
		width:85%;
		}		
	.SearchQueryBox input[type='text']{
		   border: medium none;
    font-size: 16px;
    height: 40px;
    width: 100%;
		}	
	.SearchQueryBox button{
		   font-size: 18px;
		}		
		
	
	
	
/*********** news list **********/	
	
.newsList{
		
		
		}
.newsList .newsTitle{
		
		
		}	
	
.newsList .newsImg{
			  background: #fff none repeat scroll 0 0;
    height: 150px;
    overflow: hidden;
		
		}	
.newsList .newsContent p{
		
		
		}
		
		
/*********** news details **********/			
	
.newsdetailsimg{
    margin-bottom: 22px;
    position: relative;
	}	
	
.newsdetailsimg .news_date{
	     background: #d12a1e none repeat scroll 0 0;
    color: #fff;
    left: 6px;
    padding: 4px 12px;
    position: absolute;
    top: 23px;
	}		
	
	
	
	
	
	/*********** report list **********/
	
.reportsList{
	
	}	
	
.reportsList .reportsTitle{
	
	}		
	
	
.reportsList .reportsImg{
	  background: #fff none repeat scroll 0 0;
    height: 175px;
    overflow: hidden;
	}		
	
.reportsList .reportsContent p{ 
  color: #333;
    margin-bottom: 0;
}	
.reportsList .reportsContent p a{ 
  color: #333;
  text-decoration:none;
}	
	
	
	
	
	
	
	
	/*********** report details **********/	
	
.report_detailsBox1{
	  margin-bottom: 15px;
	}	
.report_detailsBox1 .report_detailsBox1_img{
		  background: #fff none repeat scroll 0 0;
    height: 215px;
    overflow: hidden;
	}
.report_detailsBox1 ul li span{
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #6a6a6a;
    font-size: 14px;
    margin-right: 7px;
    padding: 4px 6px;
	}	
		
/************** login page****************/	
		.loginbox .panel-heading h4{
		margin:8px 0px;
		}
	
	
/************** register page****************/
	.registerbox .panel-heading h4{
		margin:8px 0px;
		}
	
/******************** categories page************************/

.categories{
	
	}
.categories ul{
	
	}
.categories ul li{
	
	}
.categories ul li a{
	font-weight:400;
	padding:8px 18px;
	}
.categories ul li.active a{
	  background: #1062ac none repeat scroll 0 0;
    color: #fff;
	}		
	
.categories ul li.active a:focus{
	  background: #1062ac none repeat scroll 0 0;
       color: #fff;
	}	
	

	
		
.categories	.tab-content{

	}
.categories .tags-cloud .tag{
	   color: #1062ac;
    font-size: 14px;
    padding: 3px 12px;
	 margin-bottom: 7px;
	 background:#fff;
	}			
.categories .tags-cloud .tag:hover{
    background-color:#fff;	
	color: #c53026 !important;
	}
 

/******************** subcategory page ie chemical market research report page***********************/

	
.subcategoryList{
	
	}	
	
.subcategoryList .subcategoryTitle{
	
	}		
	
	
.subcategoryList .subcategoryImg{
	  background: #fff none repeat scroll 0 0;
    height: 175px;
    overflow: hidden;
	}		
	
.subcategoryList .subcategoryContent p{ 
  color: #333;
    margin-bottom: 0;
}	
.subcategoryList .subcategoryContent p a{ 
  color: #333;
  text-decoration:none;
}	
	
	
	

/******************** contact us *****************************/

.contactAddress{
	 margin-bottom: 25px;
	}
.contactAddress ul{
	
	}
.contactAddress ul li{
	  margin: 10px 0;
	}
.contactAddress ul li a{
	
	}
	
.sendusqueryform{
	
	
	}	
.sendusqueryform h4{
	  margin: 5px 0;
	}		
	
	
/******************** countries page**************************/
.countriesSection{
	    margin: 0;
    padding: 0;
	}
.countriesSection li{
	  float: left;
    list-style-type: none;
    padding: 12px 0;
    width: 25%;
	}
.countriesSection li a{
	    display: inline-block;
    margin-left: 7px;
    text-decoration: none;
	}
	
	
/*********************  country reports list page**********************************/	


.countryReportsList{
	
	}	
	
.countryReportsList .countryReportsTitle{
	
	}		
	
	
.countryReportsList .countryReportsImg{
	  background: #fff none repeat scroll 0 0;
    height: 175px;
    overflow: hidden;
	}		
	
.countryReportsList .countryReportsContent p{ 
  color: #333;
    margin-bottom: 0;
}	
.countryReportsList .countryReportsContent p a{ 
  color: #333;
  text-decoration:none;
}	
	
	
	
	
/***************** site map******************/	

.sitemap .panel-heading{ font-size: 18px;}
.sitemap .panel-body{
	
	}		
.sitemap .panel-body ul{
	margin:0px; padding:0px;
	}
.sitemap .panel-body ul li{
	list-style-type:none;
	}
.sitemap .panel-body ul li a{  
display: inline-block;
    padding: 5px 0;
    text-decoration: none;
	}	
	
	
	
	
	
		
@media screen and (max-width: 767px){
	
	.services-header {
    min-height: 100vh;
}


.navbar-dark {
  background-color: #222222;
}
.navbar-header-full.navbar-dark {
    border-bottom: 1px solid #222222;
}
.navbar-header-full {
    border-top: 1px solid #222222;
}
.service-header-text h1 {
    color: #c1dbf2;
    font-size: 24px;
}
.searchkeywordform #SearchKeyword {
    margin-right: 0px;
	 width: 100%;
}
.searchkeywordform #category {
    padding-left: 10px;
    width: 100%;
}
.ourClient .section-title {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #222;
    margin: 0;
    padding: 18px 0;
    position: relative;
    text-align: left;
    font-weight: 300;
}
.ourClient .section-title::after {
    display: none;
}
.ourClient .section-title::first-letter {
    color: #d92618;
}
.services-header {
    margin-bottom: 0;
}
.searchkeywordform #searchkeybutton {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
	 margin-left: 0px;
}


.SearchQueryBox {
    margin: 0 auto;
    width: 85%;
}
.SearchQueryBox .form-group {
     width: 70%;
}
.SearchQueryBox button {
     width: 30%;
}


.countriesSection li {
    width: 100%;
}

}
	
@media screen and (min-width: 768px) and (max-width: 1024px){
		
		.SearchQueryBox .form-group {
	     	width: 76%;
		}
		
		.ourClient .section-title {
			padding: 11px 15px;
			font-size: 20px;
		}
		.ourClient .section-title::after {
			border-bottom: 10px solid transparent;
			border-left: 10px solid #c73025;
			border-top: 10px solid transparent;
			content: "";
			position: absolute;
			right: -10px;
			top: 14px;
		}
		.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding: 15px;
    }
.countriesSection li {
    width: 33.3333%;
}
	
		
}
		
		
@media screen and (min-width: 980px) and (max-width: 1199px){

	.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding: 15px;
    }
.countriesSection li {
    width: 33.3333%;
}
	
	
	
	}		